<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-head">
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />


<title>KolyStyle - Fashion For All</title>
	<!-- Angular JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular.min.js"></script>
<script
		th:src="@{/js/jquery.min.js}"></script>
	<script th:src="@{/js/bootstrap.min.js}"></script>
	<script th:src="@{/js/jquery.validate.js}"></script>
	<script th:src="@{/js/jquery-dateFormat.min.js}"></script>
<!-- script src="https://js.stripe.com/v3/"></script-->
<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link th:href="@{/css/style.css}" rel="stylesheet" />

<!-- Old Template Stylesheet -->
<link th:href="@{/css/main.css}" rel="stylesheet" />

<link th:href="@{/css/stylesheet.css}" rel="stylesheet"/>
<link th:href="@{/css/slideshow.css}" rel="stylesheet"/>
<link th:href="@{/css/flexslider.css}" rel="stylesheet"/>
<link th:href="@{/js/colorbox/colorbox.css}" rel="stylesheet"/>
<link href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css" rel="stylesheet"/>
<!--link href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" rel="stylesheet"/-->

<!-- Data Table -->
<link th:href="@{/css/jquery.datatables.min.css}" rel="stylesheet"/>
<link th:href="@{/css/datatables.bootstrap.min.css}" rel="stylesheet"/>

<!-- Font Awesome icons -->
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />

<!-- Google Fonts (Droid Sans) Start >
<link href='//fonts.googleapis.com/css?family=Droid+Sans&v1' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=&v1' rel='stylesheet' type='text/css'-->



<link rel="icon" href="/image/logo-icon.png" />
</head>

<body>
<div th:fragment="navbar">
        <!--Header Part Start-->
        <header id="header">
            <div th:if="!${membersOnly}" class="htop">
            <div id="language"><span
							th:text="${user}? ${#strings.toUpperCase('Welcome '+user.username)} : 'Welcome Guest'"></span>
			</div>				
                <!-- div id="language"> <span>Language<b></b></span>
                    <ul>
                        <li><a title="English"><img src="/image/flags/gb.png" alt="English" />English</a></li>
                        <li><a title="Bangla"><img src="/image/flags/tr.png" alt="Bangla" />Bangla</a></li>
                    </ul>
                </div>
                <div id="currency"> <span>Currency<b></b></span>
                    <ul>
                        <li> <a title="Euro">€ - Euro</a> </li>
                        <li> <a title="Pound Sterling">£ - Pound Sterling</a> </li>
                        <li> <a title="US Dollar"><b>$ - US Dollar</b></a> </li>
                    </ul>
                </div-->
                <div class="links">

                        <a id="loginlink" sec:authorize="isAnonymous()" th:href="@{/userlogin}">LOGIN / REGISTER</a>
                        <a id="accountlink" sec:authorize="isAuthenticated()" th:href="@{/customer/account}">MY ACCOUNT</a>
                        <a id="logoutlink" sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a>
                   		<a href="/customer/wishlist" id="wishlist-total">Wish List</a>
                    	<a id="checkout-link" th:href="@{/shoppingCart/cart}">Checkout</a>

                </div>
            </div>
            <section class="hsecond">
                <div id="logo"><a href="/"><img class="img-responsive" th:src="#{adminPath}+@{/image/logo-new.png}" title="Kolystyle" alt="Kolystyle" /></a></div>
                
                    <form class="navbar-form" th:action="@{/searchProduct}" method="post">
						<div id="search">	
							<button type="submit" class="button-search"></button>
							<input type="text" name="keyword" placeholder="Search" th:value="${keyword}" />
							
						 </div>
						</form>
               
                <!--Mini Shopping Cart Start-->
        <section th:if="!${noCartExist}" class="" ng-app="checkoutApp">
		<div ng-controller = "miniCartCtrl" ng-init="initCartId(17)">		
                <section id="cart" class="mini-cart-label">
                    <div class="heading">
                        <!--h4><img width="32" height="32" alt="" src="/image/cart-bg.png"/></h4-->
                        <a><i class="fa fa-cart-plus mini-cart-icon" aria-hidden="true"></i><span id="cart-total">&nbsp;Shopping Bag</span></a> </div>



                    <div class="content">
                        <div class="mini-cart-info">
                            <table id="cart-item-list">
                            	<tr th:attr="ng-repeat = 'cartItem in miniCart.cartItemList'">
                            	<td><span class="col-md-12">{{cartItem.product.title}}</span><span class="col-md-12">Size: {{cartItem.productSize}} | {{cartItem.qty}} x ${{cartItem.product.ourPrice}}</span></td>
                            	<td> ${{cartItem.subtotal}}</td>
                            	</tr>
                            </table>
                        </div>
                        <div class="mini-cart-total">
                        	<div id="" class="col-md-4">
                        		<br/>
                        		<a th:href="@{/shoppingCart/cart}" class="btn btn-danger">View Cart</a>
                        		
                        	</div>
                            <div id="" class="col-md-8">
                                <p><span class="text-left col-xs-8">Subtotal</span><span class="text-right col-xs-4">{{miniCart.grandTotal}}</span></p>
                                <p><span class="text-left col-xs-8">Discount</span><span class="text-right col-xs-4">{{miniCart.discountedAmount}}</span></p>
                                <p><span class="text-left col-xs-8">Order total</span><span class="text-right col-xs-4">{{miniCart.orderTotal}}</span></p>
                               
                            </div>
                        </div>
                        <div class="checkout" id="mini-cart-checkout"></div>
                    </div>
                </section>
                </div>
                </section>
                <!--Mini Shopping Cart End-->
                <div class="clear"></div>
            </section>


            <!--Top Menu(Horizontal Categories) Start-->
            <nav id="menu">
                <ul>
                    <li class="home"><a title="Home" href="/"><span>Home</span></a></li>
                    <li class="categories_hor"><a href="/searchByCategory?category=saree">SAREE</a>
                        <div>
                            <div class="column"> <a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=none">Occasion</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=wedding">Wedding Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=party">Party Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=bridal">Bridal Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=festive">Festive Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion&amp;mainsubCategory=casual">Casual Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=occasion">All Occasions...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=">Style</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=kanchipuram">Kanchipuram Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=banarasi">Banarasi Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=ombre">Ombre Sarees</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=prestiched">Pre-stitched Sarees</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style&amp;mainsubCategory=handloom">Handloom Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=style">All styles...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=">Fabric</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=cotton">Cotton Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=silk">Silk Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=art">Art Silk Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=georgette">Georgette Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric&amp;mainsubCategory=chiffon">Chiffon Saree</a></li>
                                        <li><a href="/searchBySubCategory?category=Saree&amp;subCategory=fabric">All Fabrics...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchByCategory?category=saree">More</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchByCategory?category=blouse">Blouse</a></li>
                                        <li><a href="/searchByCategory?category=petticoat">Petticoat</a></li>
                                    </ul>
                                </div>
                            </div>
                           
                        </div>
                    </li>
                    <li class="categories_hor"><a href="/searchByCategory?category=Salwar">SALWAR KAMEEZ</a>
                        <div>
                            <div class="column"> <a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion&amp;mainsubCategory=">Occasion</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion&amp;mainsubCategory=wedding">Wedding Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion&amp;mainsubCategory=party">Party Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion&amp;mainsubCategory=festive">Festive Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion&amp;mainsubCategory=casual">Casual Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=occasion">All Occasions...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=">Style</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=anarkali">Anarkali Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=straight">Straight Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=abaya">Abaya Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=pakistani">Pakistani Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style&amp;mainsubCategory=punjabi">Punjabi Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=style">All styles...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=">Fabric</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=chanderi">Chanderi Suits</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=georgette">Georgette Suits</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=cotton">Cotton Suits</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=net">Net Suits</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric&amp;mainsubCategory=art">Art Silk Suits</a></li>
                                        <li><a href="/searchBySubCategory?category=Salwar&amp;subCategory=fabric">All Fabrics...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchByCategory?category=Salwar">Alternates</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchByCategory?category=Kurtas">Long Kurtas</a></li>
                                        <li><a href="/searchByCategory?category=Tunics">Tunics</a></li>
                                        <li><a href="/searchByCategory?category=Bottoms">Bottoms</a></li>
                                        <li><a href="/searchByCategory?category=Dupattas">Dupattas</a></li>
                                        <li><a href="/searchByCategory?category=Gowns">Gowns</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                    <li class="categories_hor"><a>LEHENGA</a>
                        <div>
                            <div class="column"> <a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion&amp;mainsubCategory=">Occasion</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion&amp;mainsubCategory=wedding">Wedding Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion&amp;mainsubCategory=party">Party Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion&amp;mainsubCategory=festive">Festive Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion&amp;mainsubCategory=bridal">Bridal Wear</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=occasion">All Occasions...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style&amp;mainsubCategory=">Style</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style&amp;mainsubCategory=circular">Circular Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style&amp;mainsubCategory=aline">A-Line Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style&amp;mainsubCategory=mermaid">Mermaid Style</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style&amp;mainsubCategory=indowestern">Indowestern Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=style">All styles...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=">Fabric</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=silk">Silk Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=georgette">Georgette Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=velvet">Velvet Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=net">Net Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric&amp;mainsubCategory=art">Art Silk Lehenga</a></li>
                                        <li><a href="/searchBySubCategory?category=Lehenga&amp;subCategory=fabric">All Fabrics...</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="/searchByCategory?category=Lehenga">Alternates</a>
                                <div>
                                    <ul>
                                        <li><a href="/searchByCategory?category=Abaya">Abaya Style Suit</a></li>
                                        <li><a href="/searchByCategory?category=LehengaSaree">Lehenga Style Saree</a></li>
                                        <li><a href="/searchByCategory?category=Gowns">Gowns</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                        </div>
                    </li>
                   
                    <li><a href="">GOWNS</a>
                        <div class="custom_block">
                            <ul>
                                <li>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
                                        <tbody>
                                        
                                        <tr>
                                            <td><strong><img alt="responsive" src="/image/gown.jpg" style="width: 250px; height: 150px; border-width: 0px; border-style: solid; float: left; margin-left: 10px; margin-right: 10px;" />Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="">JEWELRY</a>
                        <div class="custom_block">
                            <ul>
                                <li>
                                    <table border="0" cellpadding="0" cellspacing="0" style="width: 500px;">
                                        <tbody>
                                        
                                        <tr>
                                            <td><strong><img alt="responsive" src="/image/jewels.jpg" style="width: 250px; height: 150px; border-width: 0px; border-style: solid; float: left; margin-left: 10px; margin-right: 10px;" />Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing.</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a>My Account</a>
                        <div>
                            <ul>
                                <li><a th:href="@{/customer/account}">My Account</a></li>
                                <li><a href="/customer/orderhistory">Order History</a></li>
                                <li><a href="/customer/wishlist" id="wishlist-total">My Wish List</a></li>
                                <li><a href="/ordertracking">Track Order</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a>Information</a>
                        <div>
                            <ul>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="about-us.html">Delivery Information</a></li>
                                <li><a href="about-us.html">Privacy Policy</a></li>
                                <li><a href="elements.html">Elements</a></li>
                            </ul>
                        </div>
                    </li>
                    <li><a th:href="@{/public/contact}">Contact Us</a></li>
                </ul>
            </nav>
            <!--Top Menu(Horizontal Categories) End-->
			
            <!-- Mobile Menu Start-->
            <nav id="menu" class="m-menu"> <span>Menu</span>
                <ul>
                    <li class="categories"><a>Categories</a>
                        <div>
                            <div class="column"> <a href="category.html">Electronics</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Laptops (0)</a></li>
                                        <li><a href="category.html">Desktops (0)</a></li>
                                        <li><a href="category.html">Components (1)</a></li>
                                        <li><a href="category.html">Software (1)</a></li>
                                        <li><a href="category.html">Phones &amp; PDAs (4)</a></li>
                                        <li><a href="category.html">Cameras (2)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Jewellery</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Children's Jewellery (0)</a></li>
                                        <li><a href="category.html">Men's Jewellery (1)</a></li>
                                        <li><a href="category.html">Women's Jewellery (0)</a></li>
                                        <li><a href="category.html">Sample Test (0)</a></li>
                                        <li><a href="category.html">Sample Test11 (0)</a></li>
                                        <li><a href="category.html">Sample Test12 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Shoes</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Children's Shoes (1)</a></li>
                                        <li><a href="category.html">Men's Shoes (2)</a></li>
                                        <li><a href="category.html">Women's Shoes (1)</a></li>
                                        <li><a href="category.html">Test Sample (0)</a></li>
                                        <li><a href="category.html">Test Sample1 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Clothing</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Men (1)</a></li>
                                        <li><a href="category.html">Women (1)</a></li>
                                        <li><a href="category.html">Boys (0)</a></li>
                                        <li><a href="category.html">Girls (0)</a></li>
                                        <li><a href="category.html">Accessories (0)</a></li>
                                        <li><a href="category.html">Sample Test21 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Kids</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Toys Kids (0)</a></li>
                                        <li><a href="category.html">Games (1)</a></li>
                                        <li><a href="category.html">Sample Test22 (0)</a></li>
                                        <li><a href="category.html">Sample Test15 (1)</a></li>
                                        <li><a href="category.html">Sample Kids (1)</a></li>
                                        <li><a href="category.html">Sample Test6 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Watches</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Women's Watches (1)</a></li>
                                        <li><a href="category.html">Men's Watches (0)</a></li>
                                        <li><a href="category.html">Children's Watches (1)</a></li>
                                        <li><a href="category.html">Sample16 (0)</a></li>
                                        <li><a href="category.html">Sample17 (0)</a></li>
                                        <li><a href="category.html">test 18 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Sports</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Women's Sports (1)</a></li>
                                        <li><a href="category.html">Children's Sports (0)</a></li>
                                        <li><a href="category.html">Men's Sports (1)</a></li>
                                        <li><a href="category.html">test 7 (0)</a></li>
                                        <li><a href="category.html">Sample 8 (0)</a></li>
                                        <li><a href="category.html">test 9 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Health</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Sample Test1 (1)</a></li>
                                        <li><a href="category.html">Sample Test2 (0)</a></li>
                                        <li><a href="category.html">test 20 (0)</a></li>
                                        <li><a href="category.html">test 21 (0)</a></li>
                                        <li><a href="category.html">test 22 (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"> <a href="category.html">Furniture</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Bedrooms Furniture (0)</a></li>
                                        <li><a href="category.html">Kidsrooms furniture (0)</a></li>
                                        <li><a href="category.html">Kitchen Furniture (1)</a></li>
                                        <li><a href="category.html">Showcase Furniture (0)</a></li>
                                        <li><a href="category.html">Table Furniture (1)</a></li>
                                        <li><a href="category.html">Wall Furniture (0)</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="column"><a href="category.html">Books</a>
                                <div>
                                    <ul>
                                        <li><a href="category.html">Audio Books (1)</a></li>
                                        <li><a href="category.html">Comedy Book (1)</a></li>
                                        <li><a href="category.html">Comics Books (0)</a></li>
                                        <li><a href="category.html">Computer Book (1)</a></li>
                                        <li><a href="category.html">Cookies Books (0)</a></li>
                                        <li><a href="category.html">English Books (1)</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <!-- Mobile Menu End-->
        </header>
        <!--Header Part End-->

	</div>
	
	<!-- SideBar -->
	<div th:fragment="customersidebar">
	<!---->
<aside class="sidenav" role="navigation">
    <p class="heading border-btm-blk"><a id="common-heading" href="/customer/account">my account</a></p>
    <!-- Sidebar -->
    <ul class="side-nav">


        <li class=""><a href="/customer/myprofile">My Profile</a></li>

        <li class=""><a href="/customer/preferences">My Preferences</a></li>

        <li class=""><a href="/customer/addressbook">My Address Book</a></li>

        <li class=""><a href="/customer/wallet">My Wallet</a></li>

        <li class=""><a href="/customer/wishlist">My Lists</a></li>

        <li class="sub-head">MY ORDERS</li>

        <li class=""><a href="/customer/orderhistory">My Order History</a></li>

        <!-- li class="sub-head">GIFT CARDS</li>

        <li class=""><a href="/customer/giftcards">Gift Card Balance</a></li-->

    </ul>
    <!-- End Sidebar -->
</aside>
<!---->
	
	</div>
	
	
	<div th:fragment="footer">
	<!--Footer Part Start-->
<footer id="footer">
<div class="row">
	
</div>
    <div class="fpart-inner">
   
        <div class="column">
            <h3>Information</h3>
            <ul>
                <li><a th:href="@{/public/about}">About Us</a></li>
                
                <li><a th:href="@{/public/delivery}">Delivery Information</a></li>
                <li><a th:href="@{/public/privacy}">Privacy Policy</a></li>
                <li><a th:href="@{/public/terms}">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="column">
            <h3>Customer Service</h3>
            <ul>
                <li><a th:href="@{/public/contact}">Contact Us</a></li>
                <li><a th:href="@{/public/faq}">FAQ</a></li>
                <li><a th:href="@{/public/trackorder}">Track Order</a></li>
                <li><a th:href="@{/public/returns}">Returns</a></li> 
            </ul>
        </div>
        <div class="column text-center">
		    <form><br/>
			<h4 >SUBSCRIBE AND GET 10% OFF</h4>
			<input type="text" name="email" id="newsletteremail" class="form-control" placeholder="Enter Email here"/>
			<br/><button type="submit" class="btn btn-primary">SUBSCRIBE</button>
			</form>
        </div>
        <div class="column">
            <h3>My Account</h3>
            <ul>
                <li><a href="#">My Account</a></li>
                <li><a href="#">Order History</a></li>
                <li><a href="#">Wish List</a></li>
                <li><a th:href="@{/public/sitemap}">Site Map</a></li>
            </ul>
        </div>
        
        <!-- Contact Details Start-->
        <div class="column">
            <h3>Contact Us</h3>
            <ul>
                <li class="address">3050 E Livingston Ave,</li>
                <li class="address">Suite 27</li>
                <li class="address">Columbus OH - 43227</li>
                <li class="mobile">+1 718-101-5085</li>
                <li class="fax">+1 718-101-5086</li>
                <li class="email"><a href="mailto:info@contact.com">info@kolystyle.com</a></li>
            </ul>
        </div>
        
        
        <!-- Contact Details End-->
        <div class="clear"></div>
        <div id="powered">
            <!-- Payment Images Icon Start-->
            <div class="payments_types part3 text-icon"> 
            
            <i class="fa fa-paypal" aria-hidden="true"></i>
            <i class="fa fa-cc-amex" aria-hidden="true"></i>
            <i class="fa fa-cc-visa" aria-hidden="true"></i>
            <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
            <i class="fa fa-cc-discover" aria-hidden="true"></i>
             
             
             </div>
            <!-- Payment Images Icon End-->
            <!-- Powered by Text Start-->
            <div class="powered_text part3">
                <p>&copy; 2017 Koly Style. All Rights Reserved.<br />
                    Developed By <a target="_blank" href="http://www.geniusfreelancers.com">GeniusFreelancers</a></p>
            </div>
            <!-- Powered by Text End-->
            <!-- Follow Social Icons Start-->
            <div class="social part3"> 
            
            <a href="http://facebook.com/kolystyle" target="_blank">
            <img src="/image/facebook.png" alt="Facebook" title="Facebook"/></a> 
            <a href="https://twitter.com/#!/kolystyle" target="_blank">
            <img src="/image/twitter.png" alt="Twitter" title="Twitter"/> </a>
            <a href="https://instagram.com/#!/kolystyle" target="_blank">
            <img src="/image/instagram.png" alt="Twitter" title="Instagram"/> </a>
             <a href="#" target="_blank"> <img src="/image/googleplus.png" alt="Google+" title="Google+"/> </a>
              <a href="#" target="_blank"> <img src="/image/pinterest.png" alt="Pinterest" title="Pinterest"/> </a>
               
               
               </div>
            <!-- Follow Social Icons End-->
            <div class="clear"></div>
        </div>
        <!-- Back to Top Button Start-->
        <div class="back-to-top" id="back-top"><a title="Back to Top" href="javascript:void(0)" class="backtotop">Top</a></div>
        <!-- Back to Top Button End-->
    </div>
</footer>
<!--Footer Part End-->

	
	</div>
	
	<div th:fragment="body-bottom-scripts">
		
	
	<!-- Custome Javascripts -->
	<script th:src="@{/js/scripts.js}"></script>
	
		<!-- Data Tables -->
	<script th:src="@{/js/jquery.datatables.min.js}"></script>
	<script th:src="@{/js/datatables.bootstrap.min.js}"></script>
	
	
	<!-- Javascript Old Template -->
	<script th:src="@{/js/jquery.nivo.slider.pack.js}"></script>
    <script th:src="@{/js/jquery.flexslider.js}"></script>
    <script th:src="@{/js/jquery.easing-1.3.min.js}"></script>
    <script th:src="@{/js/jquery.jcarousel.min.js}"></script>
    <script th:src="@{/js/colorbox/jquery.colorbox-min.js}"></script>
    <script th:src="@{/js/tabs.js}"></script>
    <script th:src="@{/js/cloud_zoom.js}"></script>
    <script th:src="@{/js/jquery.dcjqaccordion.js}"></script>
    <script th:src="@{/js/custom.js}"></script>
    <script th:src="@{/js/html5.js}"></script>
    <script th:src="@{/js/checkout.js}"></script>
    <script th:src="@{/js/check.js}"></script>
    <script th:src="@{/js/validation.js}"></script>
    <script src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
    
	</div>
</body>
</html>