<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/homeheader :: home-head" />
<body class="home-1 top-btn-color">
	<!-- Facebook Page Plugin Script-->
	<div id="fb-root"></div>
	<script th:src="@{/js/facebook.js}"></script>
        <!-- HEADER -->
        <div th:replace="common/homeheader :: navbar" />
 		<!-- HEADER -->
 		<div th:replace="common/homeheader :: ticker-slider" />	

			<div id="container" class="container">
				

<div class="row">

		
		<div class="col-md-10 col-md-offset-1 text-center">
		<h5>Bad request. The request path is invalid. <br/><br/>Click <a th:href="@{/}">here</a> to return to the home page.</h5>
		</div>
		

</div>

	</div>	

			<!-- Footer -->
		<div th:replace="common/homeheader :: footer" />
	
</body>
</html>