<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-head" />
<body>


<div class="spinnerspin">

<!-- Facebook Page Plugin Script-->
<div id="fb-root"></div>

<script th:src="@{/js/facebook.js}"></script>
	<div class="wrapper-box">
		<div class="main-wrapper">

			<div th:replace="common/head :: navbar" />

			<div id="container">
				<div id="content">			
		<section class="">
		<div>			
									
		<div class="row" style="margin-top: 10px;">
		<div class="col-md-12 text-center grey-bg-bd">
			
			<p class="contactAddress">PLEASE CHOOSE ANY OF THE FOLLOWING METHOD TO CONTACT WITH US</p>
		</div>
		<div class="col-md-4">
			<div class="inner-con">
			<p class="contact-title">CONTACT US BY PHONE</p>
			<p>Customer Service is available 7 days a week</p>
			<p><span th:text="${siteSettings.storePhone}"></span> For Return</p>
			<p>(11.00am - 11.00pm Eastern Time)</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="inner-con">
			<p class="contact-title">E-MAIL US</p>
			<p>For Questions, Comments or Inquiries</p>
			<p>Send Us E-mail At:</p>
			<p><span th:text="${siteSettings.storeSupportEmail}"></span></p>
			<p><span th:text="${siteSettings.storeInfoEmail}"></span></p>
 			</div>
		</div>
		<div class="col-md-4">
			<div class="inner-con social" id="contactUsPage">
			<p class="contact-title">FIND US</p>
			<p>Find Us On Social Media Networks:</p>
			 			
 			<a th:href="${siteSettings.facebookUrl}" target="_blank">
            <img src="/image/facebook.png" alt="Facebook" title="Facebook"/></a> 
                        
            <a th:href="${siteSettings.twitterUrl}" target="_blank">
            <img src="/image/twitter.png" alt="Twitter" title="Twitter"/> </a>
            
            <a th:href="${siteSettings.instagramUrl}" target="_blank">
            <img src="/image/instagram.png" alt="Twitter" title="Instagram"/> </a>
            
             <a th:href="${siteSettings.googleUrl}" target="_blank"> 
             <img src="/image/googleplus.png" alt="Google+" title="Google+"/> </a>
             
              <a th:href="${siteSettings.pintrestUrl}" target="_blank"> 
              <img src="/image/pinterest.png" alt="Pinterest" title="Pinterest"/> </a>
              
			</div>
		</div>
		<div class="col-md-12 text-center grey-bg-bd">
			
			<p class="contactAddress"><i class="fas fa-map-marker-alt"></i> <span th:text="${siteSettings.storeAddress1}"></span>, 
			
			<span th:text="${siteSettings.storeAddressCity}"></span>,
			<span th:text="${siteSettings.storeAddressState}"></span> - 
			<span th:text="${siteSettings.storeAddressZip}"></span></p>
		</div>

			<form th:action="@{/public/contact}" method="post" id="contact-form" enctype="multipart/form-data">
			
				
				<!-- Success Message -->
				<div class="col-md-12">
					<div th:if="${success}">
						<h5 class="alert alert-success">We will get back to you shortly</h5>
					</div>
					<div th:if="${missingInput}">
						<h5 class="alert alert-danger">There are some fields
							missing. Field with * is required</h5>
					</div>
					<div th:if="${requiredOrder}">
						<h5 class="alert alert-danger">Please provide your order number</h5>
					</div>
				</div>
				
				<div class="col-md-8">
				<div class="panel-group" id="accordion">
					
					<div class="col-md-12">

						<!-- 1. Shipping Address -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#shippingInfo">We're listening</a>
								</h4>
							</div>
							<div id="shippingInfo" class="panel-collapse collapse in"
								th:classappend="${classActiveShipping}? 'in'">
								<div class="panel-body">
									<div class="row">
										<div class="col-md-6">
									<div class="form-group">

										<label for="fullName">* Full Name</label> <input type="text"
											class="form-control" id="fullName"
											placeholder="Full Name" th:name="fullName"
											required="required"
											th:value="${contact.fullName}" />
									</div>
									</div>
										<div class="col-md-6">
									<div class="form-group">

										<label for="email">* My Email Id</label> <input type="text"
											class="form-control" id="email"
											placeholder="Email" th:name="email"
											required="required"
											th:value="${contact.email}" />
									</div>
									</div>
									
									</div>
									<div class="row">
									<div class="col-md-12">
									<div class="form-group">

										<label for="reason">* I'd like to know about</label> <input type="text"
											class="form-control" id="reason"
											placeholder="Reason" th:name="reason"
											required="required"
											th:value="${contact.reason}" />
									</div>
									</div>
									</div>
									<div class="row">
									
									<div class="col-md-6">
									<div class="form-group">
										<label for="helpFor">* I need help at</label> <select
													id="helpFor" class="form-control"
													th:name="helpFor"
													th:value="${contact.helpFor}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option value="I am yet to place the order"
														th:selected="(${contact.helpFor}=='I am yet to place the order')">I am yet to place the order</option>
													<option value="Already placed the order"
														th:selected="(${contact.helpFor}=='Already placed the order')">Already placed the order</option>
													<option value="Other"
														th:selected="(${contact.helpFor}=='Other')">Other</option>	
												</select>
									</div>
									</div>
									<div class="col-md-6">
									
									<div class="form-group">
												<label for="assistanceType">* Assistance Type</label> <select
													id="assistanceType" class="form-control"
													th:name="assistanceType"
													th:value="${contact.assistanceType}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option value="Product Information"
														th:selected="(${contact.assistanceType}=='Product Information')">Product Information</option>
													<option value="Technical Assistance"
														th:selected="(${contact.assistanceType}=='Technical Assistance')">Technical Assistance</option>
													<option value="Measurement/ Customization"
														th:selected="(${contact.assistanceType}=='Measurement/ Customization')">Measurement/ Customization</option>
													<option value="Customer Grievance"
														th:selected="(${contact.assistanceType}=='Customer Grievance')">Customer Grievance</option>		
													<option value="Order Status"
														th:selected="(${contact.assistanceType}=='Order Status')">Order Status</option>	
													<option value="Post Shipment Information"
														th:selected="(${contact.assistanceType}=='Post Shipment Information')">Post Shipment Information</option>	
													<option value="Order Modification/Cancellation"
														th:selected="(${contact.assistanceType}=='Order Modification/Cancellation')">Order Modification/Cancellation</option>	
													<option value="Feedback &amp; Suggestion"
														th:selected="(${contact.assistanceType}=='Feedback &amp; Suggestion')">Feedback &amp; Suggestion</option>	
													<option value="Any Other assistance"
														th:selected="(${contact.assistanceType}=='Any Other assistance')">Any Other assistance</option>										
												</select>
											</div>
									</div>
									</div>
									
									<div class="row">
									<div class="col-md-6">		
									<div class="form-group">
												<label for="reasonType">* Reason</label> <select
													id="reasonType" class="form-control"
													th:name="reasonType"
													th:value="${contact.reasonType}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option value="Payment/Checkout Issue"
														th:selected="(${contact.reasonType}=='Payment/Checkout Issue')">Payment/Checkout Issue</option>
													<option value="Problem Placing an Order"
														th:selected="(${contact.reasonType}=='Problem Placing an Order')">Problem Placing an Order</option>
													<option value="Website Navigation Issue"
														th:selected="(${contact.reasonType}=='Website Navigation Issue')">Website Navigation Issue</option>
													<option value="Unable to Track Order"
														th:selected="(${contact.reasonType}=='Unable to Track Order')">Unable to Track Order</option>
													<option value="Delay in Delivery"
														th:selected="(${contact.reasonType}=='Delay in Delivery')">Delay in Delivery</option>
													<option value="Incorrect Delivery"
														th:selected="(${contact.reasonType}=='Incorrect Delivery')">Incorrect Delivery</option>
													<option value="Incomplete Dispatch"
														th:selected="(${contact.reasonType}=='Incomplete Dispatch')">Incomplete Dispatch</option>	
													<option value="Invoice Query"
														th:selected="(${contact.reasonType}=='Invoice Query')">Invoice Query</option>
													<option value="Damaged Item"
														th:selected="(${contact.reasonType}=='Damaged Item')">Damaged Item</option>
													<option value="Design Variation"
														th:selected="(${contact.reasonType}=='Design Variation')">Design Variation</option>
													
													<option value="Size Issue"
														th:selected="(${contact.reasonType}=='Size Issue')">Size Issue</option>
													<option value="Color Variation"
														th:selected="(${contact.reasonType}=='Color Variation')">Color Variation</option>
													<option value="Any Other reason"
														th:selected="(${contact.reasonType}=='Any Other reason')">Any Other reason</option>	
												</select>
											</div>
									</div>
											
									
										<div class="col-xs-6">
											<div class="form-group">
												<label for="orderNumber">Order Number</label> <input
													type="text" class="form-control" id="orderNumber"
													placeholder="Order Number"
													th:name="orderNumber" 
													th:value="${contact.orderNumber}" />
											</div>
										</div>
									</div>
									<div class="row">	
										<div class="col-xs-12">
											<div class="form-group">
												<label for="details">* More details</label> 
												
												<textarea class="form-control" id="details"
								name="details" rows="5" th:value="${contact.details}" th:text="${contact.details}"
								placeholder="More details"></textarea>
												
										
											</div>
										</div>
										
									</div>
									
									<div class="form-group">
						<div class="col-md-4">
							<label for="productImage">Attach a file</label>
						</div>
						<div class="col-md-8">
							<input type="file" class="form-control" id="productImage"
								name="productImage"  multiple="multiple"/>
						<span class="help-block">You can attach screenshot of product or issue (.jpg or .png only)</span>
						</div>

					</div>
									
<button type="submit" class="btn btn-primary btn-block" id="submit">Submit</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				</div>
			
			</form>
			<script>
			$().ready(function(){
				$( "#contact-form" ).validate({
			        rules: {
			        	fullName:"required",
			        	reason:"required",
			        	helpFor:"required",
			        	assistanceType: "required",
			        	reasonType: "required",
			        	details: "required",
			            email: {
			                required: true,
			                email:true
			            }
			        },
			        messages:{
			        	fullName:"Full Name Required",
			        	reason:"Reason Required",
			        	helpFor:"Help for Required",
			        	assistanceType:"Assistance Type Required",
			        	reasonType:"Reason Required",
			        	details: "Details Required",
			        	email: {
			                required: "Email Required",
			            }
			        }
			    });
			});
			
			
			</script>
			
			<div class="col-md-4">
			<!-- Facebook Page Plugin Script -->
			<div class="fb-page" data-href="https://www.facebook.com/kolystyleinc" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/kolystyleinc" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/kolystyleinc">Koly Style</a></blockquote></div>
			</div>
			
			
			
		</div>
		</div>
		</section>
		<div class="clear"></div>

				</div>

				<script th:src="@{/js/controller.js}"></script>
				
				<!-- end of container -->
				<div th:replace="common/head :: footer" />

				<div th:replace="common/head :: body-bottom-scripts" />
			</div>
		</div>

	</div>
</div>

<script src="/js/demo.js"></script>
</body>
</html>