<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-head" />
<body>
<!-- Load the required components. -->
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>
<script src="/js/demo.js"></script>
	<div class="wrapper-box">
		<div class="main-wrapper">

			<div th:replace="common/head :: navbar" />

			<div id="container">
				<div id="content">			
				
		<div class="row" style="margin-top: 10px;">

			<form th:action="@{/chargeguest}" method="post" id="payment-form">
			<!--form th:action="@{/checkouts}" method="post" id="payment-form"-->
				<!-- Checkout Info -->
				<div class="col-md-12">
					<div th:if="${missingRequiredField}">
						<h5 class="alert alert-warning">There are some fields
							missing. Field with * is required</h5>
					</div>
				</div>
				<div class="col-md-6">
				<div class="panel-group" id="accordion">
					
					<div class="col-md-12">

						<!-- 1. Shipping Address -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#shippingInfo">Shipping Address</a>
								</h4>
							</div>
							<div id="shippingInfo" class="panel-collapse collapse in"
								th:classappend="${classActiveShipping}? 'in'">
								<div class="panel-body">
									<div class="row">
										
										<div class="col-xs-6">
									<div class="form-group">

										<label for="firstName">* First Name</label> <input type="text"
											class="form-control" id="firstName"
											placeholder="First Name" th:name="firstName"
											required="required"
											th:value="${shippingAddress.firstName}" />
									</div>
									</div>
									<div class="col-xs-6">
									<div class="form-group">

										<label for="lastName">* Last Name</label> <input type="text"
											class="form-control" id="lastName"
											placeholder="Last Name" th:name="lastName"
											required="required"
											th:value="${shippingAddress.lastName}" />
									</div>
									</div>
									</div>
									
									<div class="form-group">
										<label for="shippingStreet">* Street Address</label> <input
											type="text" class="form-control" id="shippingAddressStreet1"
											placeholder="Street Address 1"
											th:name="shippingAddressStreet1" required="required"
											th:value="${shippingAddress.shippingAddressStreet1}" />
									</div>
									<div class="form-group">
										<input type="text" class="form-control"
											placeholder="Street Address 2"
											th:name="shippingAddressStreet2"
											th:value="${shippingAddress.shippingAddressStreet2}" />
									</div>
									<div class="form-group">
												<label for="shippingCity">* City</label> <input type="text"
													class="form-control" id="shippingAddressCity"
													placeholder="Shipping City" th:name="shippingAddressCity"
													required="required"
													th:value="${shippingAddress.shippingAddressCity}" />
											</div>
									<div class="row">
										
										<div class="col-xs-6">
											<div class="form-group">
												<label for="shippingState">* State</label> <select
													id="shippingAddressState" class="form-control"
													th:name="shippingAddressState"
													th:value="${shippingAddress.shippingAddressState}"
													required="required">
													<option value="" disabled="disabled">Please select
														an option</option>
													<option th:each="state : ${stateList}" th:text="${state}"
														th:selected="(${shippingAddress.shippingAddressState}==${state})"></option>
												</select>
											</div>
										</div>
										<div class="col-xs-6">
											<div class="form-group">
												<label for="shippingZipcode">* Zipcode</label> <input
													type="text" class="form-control" id="shippingAddressZipcode"
													placeholder="Shipping Zipcode"
													th:name="shippingAddressZipcode" required="required"
													th:value="${shippingAddress.shippingAddressZipcode}" />
											</div>
										</div>
									</div>

									<!-- a data-toggle="collapse" data-parent="#accordion"
										class="btn btn-warning pull-right" href="#paymentInfo">Next</a-->

								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-12">
					<!-- Shipping Method -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#shipMethod">Shipping Method</a>
								</h4>
							</div>
							<div id="shipMethod" class="panel-collapse collapse in"
								th:classappend="${classActiveCustomer}? 'in'">
								<div class="panel-body">
									
									<h4>Choose your shipping method:</h4>
						<div class="radio">
						<label>
						<input type="radio" name="shippingMethod" value="groundShipping" checked="checked"/>Ground Shipping<br/>
Transit time: 3-6 business days
						</label>
						</div>
						
						<div class="radio">
						<label>
						<input type="radio" name="shippingMethod" value="premiumShipping"/>Premium Shipping
						<span class="text-right"><strong> $9.00</strong></span><br/>Transit time: 2-3 business days
						</label>
						
						</div>
								</div>
							</div>
						</div>
					
					</div>
					
					<div class="col-md-12">	
						<!--2. Payment Information -->
						<div class="panel panel-default">
						<div class="panel-heading">
						<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#paymentInfo">Payment Information</a>
						</h4>
						</div>
						
						<div id="paymentInfo" class="panel-collapse collapse in" th:classappend="${classActivePayment}? 'in'">
							<div class="panel-body">
							
<div class="col-md-12">		

<div id="sample"></div>




  <div id="payPal" class="">
 	<br/>
 	
 	
 	<!-- Paypal Amount -->
 	<label for="amount">
            <span class="input-label">Amount</span>
            <div class="input-wrapper amount-wrapper">
              <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10" />
            </div>
    </label>
    
    <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
    </div>
    
    <input type="hidden" id="nonce" name="payment_method_nonce" />
    
    
    <script src="https://js.braintreegateway.com/web/dropin/1.8.1/js/dropin.min.js"></script>
<script th:inline="javascript">
  /*<![CDATA[*/
  var form = document.querySelector('#payment-form');
  var client_token = [[${clientToken}]];
  braintree.dropin.create({
    authorization: client_token,
    // container: '#dropin-container',
    container: '#bt-dropin',
    card: {
        cardholderName: {required: true},
        postalCode: {
          minlength: 5 // Set the minimum length of the postal code field
        },
        cvv:true
      },
    paypal: {
      flow: 'vault'
    }
  }, function (createErr, instance) {
    form.addEventListener('submit', function (event) {
    event.preventDefault();
    instance.requestPaymentMethod(function (err, payload) {
      if (err) {
        console.log('Error', err);
        return;
      }
      // Add the nonce to the form and submit
      document.querySelector('#nonce').value = payload.nonce;
        form.submit();
      });
    });
  });
  var checkout = new Demo({
    formID: 'payment-form'
  });
  /*]]>*/
</script>
 	<!-- Paypal Amount -->
 	
 	<!--button type="submit" class="btn btn-primary" id="rc-paypal-continue">Continue to Paypal</button>
 	<br/><br/>
 	<div id="paypal-button"></div-->

  </div>

	</div>								
									
												
						<!--a data-toggle="collapse" data-parent="#accordion" class="btn btn-warning pull-right" href="#reviewItems">Next</a-->
									
									</div>
									</div>
							</div>
					</div>

				</div>
				</div>
				<!-- 3. Review Items and Shipping -->
				<div class="col-md-6">
				<div class="panel-group" id="accordion">
					<div class="col-md-12">
					<!-- Contact Information -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a data-toggle="collapse" data-parent="#accordion"
										href="#customerInfo">Contact Information</a>
								</h4>
							</div>
							<div id="customerInfo" class="panel-collapse collapse in"
								th:classappend="${classActiveCustomer}? 'in'">
								<div class="panel-body">
									
									<div class="form-group">

										<label for="phoneNumber">* Phone number</label> <input type="text"
											class="form-control" id="phoneNumber"
											placeholder="Phone number" th:name="phoneNumber"
											required="required"
											th:value="${shippingAddress.shippingAddressName}" />
									</div>
									<div class="form-group">
										<label for="email">* Email address</label> <input
											type="text" class="form-control" id="email"
											placeholder="Email Address"
											th:name="email" required="required"
											th:value="${shippingAddress.shippingAddressStreet1}" />
									</div>
									
									
								</div>
							</div>
						</div>
					
					</div>
					<div class="col-md-12">
					<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#reviewItems">Review Items and Shipping</a>
							</h4>
						</div>
					<div id="reviewItems" class="panel-collapse collapse in">
					<div class="panel-body">
						
						
						<div class="row">
						<div class="col-xs-6"><h4>Products</h4></div>
						<div class="col-xs-2"><h4>Price</h4></div>
						<div class="col-xs-2"><h4>Qty</h4></div>
						<div class="col-xs-2 text-right"><h4>Amount</h4></div>
						</div>
						
						<!-- Display products in cart -->
						<div class="row" th:each="cartItem : ${cartItemList}">
						
						<hr/>
						<div class="col-xs-2">
						<a th:href="@{/productDetail(id=${cartItem.product.id})}">
						<img class="img-responsive shelf-product" th:src="#{adminPath}+@{/image/product/}+${cartItem.product.id}+'.png'" style="width:70px;" />
						</a>
						</div>
						<div class="col-xs-4">
							<div style="margin-left:50px;">	
							<a th:href="@{/productDetail?id=}+${cartItem.product.id}"><h4 th:text="${cartItem.product.title}"></h4></a>
								<span>Size: </span><span th:text="${cartItem.productSize}"></span> | <span>Web ID: </span><span th:text="${cartItem.product.sku}"></span>
							</div>
							</div>
							<div class="col-xs-2">
								<h5 style="color: #db3208; font-size: large;">
									$<span th:text="${cartItem.product.ourPrice}"
										th:style="${cartItem.product.inStockNumber}==0? 'text-decoration: line-through' : ''"></span>
								</h5>
								
							</div>
							<div class="col-xs-2">
								<h5 style="font-size:large" th:text="${cartItem.qty}"></h5>
							</div>
							<div class="col-xs-2">
							
							<h5 class="text-primary text-right" style="font-size: large;"  th:with="result=${cartItem.product.ourPrice * cartItem.qty}">
									$<span th:text="${#numbers.formatDecimal(result, 0, 'COMMA', 2, 'POINT')}" ></span>
								</h5>
							</div>
					
						</div>
						<hr/>
			
							<div class="row">
								<div class="col-xs-7 text-left">Total before tax:</div>
								<div class="col-xs-5 text-right">
									$<span th:text="${shoppingCart.grandTotal}"></span>
								</div>
							</div>

							<div class="row">
								<div class="col-xs-7 text-left">Estimated tax:</div>
								<div class="col-xs-5 text-right">
									$<span th:with="tax=${shoppingCart.grandTotal*0.06}"
											th:text="${#numbers.formatDecimal(tax,0,2)}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-7 text-left">Discount:</div>
								<div class="col-xs-5 text-right text-danger">
									-$<span>10.00</span>
								</div>
							</div>
							
				<section class="" ng-app="cartApp">
				<div ng-controller = "cartCtrl" th:attr="ng-init='initCartId('+${shoppingCart.id}+')'">			
							<div class="row">
								<div class="col-xs-7 text-left">Shipping:</div>
								<div class="col-xs-5 text-right text-danger">
									<span>FREE {{cartItem.product.isbn}}</span>
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-xs-7 text-left">
									<h3 style="color: darkred;">
										<strong>Order Total: {{cartItem.product.isbn}}</strong>
									</h3>
								</div>
								<div class="col-xs-5 text-right">
									<h3>
										<strong style="color: darkred;">$<span
											th:with="total=${shoppingCart.grandTotal+shoppingCart.grandTotal*0.06}"
											th:text="${#numbers.formatDecimal(total,0,2)}"></span></strong>
									</h3>
								</div>
								
							</div>
							
			</div>
		</section>				
							
							<div class="row">
								<div class="col-xs-7 text-left">You saved:</div>
								<div class="col-xs-5 text-right">
									$<span class="text-alert">10.00</span>
								</div>
							</div>
				
							<div class="panel-footer">Shipping and handling haven't
								applied.</div>
							<br/><br/>
							<button type="submit" class="btn btn-warning btn-block" id="submitorder">Place
								your order</button>
							<p style="font-size: smaller;">
								By placing your order, you agree to Koly Style <a href="#">privacy</a>
								notice and <a href="#">conditions</a> of use.
							</p>	

						</div>
						</div>
					</div>
				</div>
				</div>
			</div>
			</form>
			
			
			
			
			
		</div>
		<div class="clear"></div>

				</div>

				<script th:src="@{/js/controller.js}"></script>
				
				<!-- end of container -->
				<div th:replace="common/head :: footer" />

				<div th:replace="common/head :: body-bottom-scripts" />
			</div>
		</div>

	</div>

</body>
</html>