<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-head" />
<body>
	<div class="wrapper-box">
		<div class="main-wrapper">

			<div th:replace="common/head :: navbar" />

			<div id="container">
				<div id="content">
					<!-- Nivo Slider Start -->
					<section class="slider-wrapper">
						<div id="slideshow" class="nivoSlider">
							<a class="nivo-imageLink"
								href="/searchByCategory?category=Management"><img
								src="/image/slider/homebanner.gif" alt="slide-1" /></a> <a
								class="nivo-imageLink"
								href="/searchByCategory?category=Programming"><img
								src="/image/slider/slide-2.jpg" alt="slide-2" /></a> <a
								class="nivo-imageLink"
								href="/searchByCategory?category=Friction"><img
								src="/image/slider/slide-3.jpg" alt="slide-3" /></a>
						</div>
					</section>
					
					<script>
					
	                $(document).ready(function() {
	                    $('#slideshow').nivoSlider();
	                });
	                
					
					</script>
					
					<!-- Nivo Slider End-->
					<!-- Welcom Text Start-->
					

					<!-- Product Categories Start-->
					<div class="row bg-event">
						<div class="col-md-12">
						<!-- Categories icons starts -->
						<div class="col-md-12 boxcontent">

								<div class="col-md-4">
									<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/jacket.png" />
										<span class="info_wrapper">
											<p class="category-name">Jackets</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/tee.png" />
										<span class="info_wrapper">
											<p class="category-name">Tees</p>
									</span>
									</a>
								</div>
								
								
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/hat.png" />
										<span class="info_wrapper">
											<p class="category-name">Hats</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/bag.png" />
										<span class="info_wrapper">
											<p class="category-name">Handbags</p>
									</span>
									</a>
								</div>
							</div>

							<div class="col-md-4">
									<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/coat.png" />
										<span class="info_wrapper">
											<p class="category-name">Coats</p>
									</span>
									</a>
								</div>
								
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/dress.png" />
										<span class="info_wrapper">
											<p class="category-name">Dresses</p>
									</span>
									</a>
								</div>
								
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/earring.png" />
										<span class="info_wrapper">
											<p class="category-name">Jewelry</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/shoe.png" />
										<span class="info_wrapper">
											<p class="category-name">Shoes</p>
									</span>
									</a>
								</div>
							</div>

							<div class="col-md-4">
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/bottoms.png" />
										<span class="info_wrapper">
											<p class="category-name">Bottoms</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/gowns.png" />
										<span class="info_wrapper">
											<p class="category-name">Gowns</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/beauty.png" />
										<span class="info_wrapper">
											<p class="category-name">Beauty</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/icons/bed.png" />
										<span class="info_wrapper">
											<p class="category-name">Home Decor</p>
									</span>
									</a>
								</div>
							</div>


							</div>
						</div>
					</div>
						<!-- Categories icons ends -->
<style>
.slick-prev {
    left: -20px;  
    position: absolute;
    top: 38%;
    color:#cad2d4;
}
.slick-next {
    right: -20px;
    position: absolute;
    top: 38%;
    color:#cad2d4;
}
.slick-slide{
width: 270px;
}
</style>
                <script>
                $(document).ready(function(){
                	  $('.featured-content').slick({
                		  // normal options...
                		  infinite: true,
                		  variableWidth: true,
                		  // the magic
                		  nextArrow: '<i class="fa fa-chevron-circle-right fa-2x slick-next"></i>',
  						  prevArrow: '<i class="fa fa-chevron-circle-left fa-2x slick-prev"></i>',
                		  responsive: [{

                		      breakpoint: 250,
                		      settings: {
                		        slidesToShow: 4,
                		        useTransform:true,
                		        dots: true,
                		        mobileFirst: true,
                		        swipeToSlide: true
                		      }

                		    }]
                		  });
                		});
                </script>
										
					<!-- Featured Product Start-->			
<section class="box">
						<div id="featured-title" class="box-heading">Featured</div>
						<div class="box-content">
							<div class="box-product">
								<div class="featured_carousel" id="productList">


				<div class="featured-content" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
				<div data-th-each="product : ${productList}" th:if="${product.feature == 'featured'}" class="col-md-3 col-sm-6 slide-inner" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}" >

					 <div class="product-singleArea">
                    
                        <div class="product-img">
                        
                            <div class="overlay">
                            <div th:class="'overlay_'+${product.id}">
                                
                            </div>
                            </div>
                            
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive primary_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive hover_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                           <div class="offer-nostock"><span th:text="${product.feature}"></span></div>
                            <div class="product-cart-area">
                                <div class="btn-others">
                                    <ul>
                                        <li th:if="!${siteSettings.loginKillSwitch}"><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
                                        
                                        <li><a href="#" th:id="${product.id}" class="btn-view"><i class="fa fa-expand"></i></a></li>
                                    </ul>
                                </div>
                               
                            </div>
                        </div>
                        <div class="product-details">

                           
                            <div class="product-title text-center"><a th:href="@{/productDetail?id=}+${product.id}">
                            <h4 th:text="${product.title}"></h4></a></div>
                            <div class="product-pd">
                                <div class="product-price">
								<a th:href="@{/productDetail?id=}+${product.id}"><span style="font-size: large; color: #db3208;">$<span
												th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
								</div>
                                <div class="product-discount">
                                <span th:class="'id-addingtocart-'+${product.id}" id="addedtocart"></span>
								<span style="text-decoration: line-through;color:#b3b3b3;">$<span
												th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
								</div>
                            </div>
                            <div class="product-review" style="display:none;">
                                <div class="star">
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
				
											
											</div>
		
				
									</div>
								
									
								</div>
							</div>
						</div>
					</section>
								
					
					
					<!-- Featured Product End-->
							<div class="col-md-12 boxcontent">

								<div class="col-md-4">
									<a href="/searchByCategory?category=saree"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/designersaree.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Saree</p>
									</span>
									</a>
								</div>

								<div class="col-md-4">
									<div class="col-md-6">
									<a href="/searchByCategory?category=salwar"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/redsaree.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Salwar Kameez</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=bottoms"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/bottom.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Bottoms</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=gowns"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/gowns.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Gowns</p>
									</span>
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=kurtas"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/kurtass.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Kurtas</p>
									</span>
									</a>
								</div>
							</div>

								


								<div class="col-md-4">
									<a href="/searchByCategory?category=lehenga"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/yellow.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Lehenga</p>
									</span>
									</a>
								</div>



							</div>
						</div>
					</div>
					<!-- Product Categories End-->

					
					
					
					<!-- Product Tab Start-->
	<section id="product-tab" class="product-tab col-md-12" style="padding-left:0px!important;">
						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#tab-latest" id="latest-title">Latest</a></li>
							<li><a data-toggle="tab" href="#tab-bestseller" id="best-title">Best Seller</a></li>
							<li><a data-toggle="tab" href="#tab-special" id="special-title">Special</a></li>
						</ul>

					
					<div class="tab-content">
						<div id="tab-latest" class="tab-pane fade in active">
							<div class="product-box">
							
							
<div class="featured-content" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
<div data-th-each="product : ${productList}" th:if="${product.feature == 'latest'}" class="col-md-3 col-sm-6 slide-inner" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}" >
                    <div class="product-singleArea">
                    
                        <div class="product-img">
                        
                            <div class="overlay">
                            <div th:class="'overlay_'+${product.id}">
                                
                            </div>
                            </div>
                            
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive primary_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive hover_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                           <div class="offer-nostock"><span th:text="${product.feature}"></span></div>
                            <div class="product-cart-area">
                                <div class="btn-others">
                                    <ul>
                                        <li th:if="!${siteSettings.loginKillSwitch}"><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
                                        
                                        <li><a href="#" th:id="${product.id}" class="btn-view"><i class="fa fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                

                            </div>
                        </div>
                        <div class="product-details">

                           
                            <div class="product-title text-center"><a th:href="@{/productDetail?id=}+${product.id}">
                            <h4 th:text="${product.title}"></h4></a></div>
                            <div class="product-pd">
                                <div class="product-price">
								<a th:href="@{/productDetail?id=}+${product.id}"><span style="font-size: large; color: #db3208;">$<span
												th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
								</div>
                                <div class="product-discount">
                                <span th:class="'id-addingtocart-'+${product.id}" id="addedtocart"></span>
								<span style="text-decoration: line-through;color:#b3b3b3;">$<span
												th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
								</div>
                            </div>
                            <div class="product-review" style="display:none;">
                                <div class="star">
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
</div>
							
							
							
							
							</div>
						</div>
						<div id="tab-bestseller" class="tab-pane fade">
							<div class="product-box">	
<div class="featured-content" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
<div data-th-each="product : ${productList}" th:if="${product.feature == 'bestseller'}" class="col-md-3 col-sm-6 slide-inner" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}" >
                    <div class="product-singleArea">
                    
                        <div class="product-img">
                        
                            <div class="overlay">
                            <div th:class="'overlay_'+${product.id}">
                                
                            </div>
                            </div>
                            
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive primary_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive hover_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                           <div class="offer-nostock"><span th:text="${product.feature}"></span></div>
                            <div class="product-cart-area">
                                <div class="btn-others">
                                    <ul>
                                        <li th:if="!${siteSettings.loginKillSwitch}"><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
                                        
                                        <li><a href="#" th:id="${product.id}" class="btn-view"><i class="fa fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                

                            </div>
                        </div>
                        <div class="product-details">

                           
                            <div class="product-title text-center"><a th:href="@{/productDetail?id=}+${product.id}">
                            <h4 th:text="${product.title}"></h4></a></div>
                            <div class="product-pd">
                                <div class="product-price">
								<a th:href="@{/productDetail?id=}+${product.id}"><span style="font-size: large; color: #db3208;">$<span
												th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
								</div>
                                <div class="product-discount">
                                <span th:class="'id-addingtocart-'+${product.id}" id="addedtocart"></span>
								<span style="text-decoration: line-through;color:#b3b3b3;">$<span
												th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
								</div>
                            </div>
                            <div class="product-review" style="display:none;">
                                <div class="star">
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
</div>
							
							</div>
						</div>
						<div id="tab-special" class="tab-pane fade">
							<div class="product-box">
							
<div class="featured-content" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
<div data-th-each="product : ${productList}" th:if="${product.feature == 'special'}" class="col-md-3 col-sm-6 slide-inner" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}" >
                    <div class="product-singleArea">
                    
                        <div class="product-img">
                        
                            <div class="overlay">
                            <div th:class="'overlay_'+${product.id}">
                                
                            </div>
                            </div>
                            
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive primary_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                            <a th:href="@{/productDetail?id=}+${product.id}">
                                <img class="img-responsive hover_image" th:src="#{adminPath}+@{/image/product/}+${product.id}+'/'+${product.coverImageName}" th:attr="alt=${product.title}" /></a>
                           <div class="offer-nostock"><span th:text="${product.feature}"></span></div>
                            <div class="product-cart-area">
                                <div class="btn-others">
                                    <ul>
                                        <li th:if="!${siteSettings.loginKillSwitch}"><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
                                        
                                        <li><a href="#" th:id="${product.id}" class="btn-view"><i class="fa fa-expand"></i></a></li>
                                    </ul>
                                </div>
                                

                            </div>
                        </div>
                        <div class="product-details">

                           
                            <div class="product-title text-center"><a th:href="@{/productDetail?id=}+${product.id}">
                            <h4 th:text="${product.title}"></h4></a></div>
                            <div class="product-pd">
                                <div class="product-price">
								<a th:href="@{/productDetail?id=}+${product.id}"><span style="font-size: large; color: #db3208;">$<span
												th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span></a>
								</div>
                                <div class="product-discount">
                                <span th:class="'id-addingtocart-'+${product.id}" id="addedtocart"></span>
								<span style="text-decoration: line-through;color:#b3b3b3;">$<span
												th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span></span>
								</div>
                            </div>
                            <div class="product-review" style="display:none;">
                                <div class="star">
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
</div>
											
										
										
							
							</div>
						</div>
					</div>

</section>
					
					
					<!-- Product Tab End-->
					
	<!-- Product Categories Start-->
					<div class="row">
						<div class="col-md-12">
<div class="col-md-12 boxcontent">

								

								<div class="col-md-3">
									<a href="/searchByCategory?category=lehenga"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/yellow.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Lehenga</p>
									</span>
									</a>
								</div>

								<div class="col-md-3">
									<a href="/searchByCategory?category=saree"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/designersaree.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Saree</p>
									</span>
									</a>
								</div>

								<div class="col-md-3">
									<a href="/searchByCategory?category=saree"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/designersaree.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Saree</p>
									</span>
									</a>
								</div>
								<div class="col-md-3">
									<a href="/searchByCategory?category=lehenga"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/yellow.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Lehenga</p>
									</span>
									</a>
								</div>



							</div>

							
					<!-- Product Categories End-->				

					
					<!-- Product  banner display Start-->
					<div class="row">
						<div class="col-md-12">

							<div class="col-md-12 boxcontent">
								<div class="col-md-6">
									<a href="/searchByCategory?category=Friction"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/topleft.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Salwar Suit</p>
									</span>
									</a>
								</div>
								
								

								<div class="col-md-6">
									<div class="col-md-12">
									<a href="/searchByCategory?category=Friction"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/topright.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Salwar Suit</p>
									</span>
									</a>
									</div>
									<div class="col-md-12">
										<a href="/searchByCategory?category=Friction"
											role="button" class="category_inner"> <img
											class="zoom_image img-responsive" alt="" src="/image/bottomright.jpg" />
											<span class="info_wrapper">
												<p class="category-name">Designer Salwar Suit</p>
										</span>
										</a>
									</div>
								</div>



							</div>
						</div>
					</div>
					<!-- Product banner display End-->
										<!-- Product Categories Start-->
					<div class="row">
						<div class="col-md-12">

							<div class="col-md-12 boxcontent">
								<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/ooo.jpg" />
										
									</a>
							</div>
						</div>
					</div>
							<!-- Product banner display End-->
					
										<!-- Product Categories Start-->
					<div class="row">
						<div class="col-md-12">

							<div class="col-md-12 boxcontent">
																
								<div class="col-md-6">
									<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/offerone.jpg" />
										
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/offertwo.jpg" />
										
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/offerthree.jpg" />
										
									</a>
								</div>
								<div class="col-md-6">
									<a href="/searchByCategory?category=Management"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/offerfour.jpg" />
										
									</a>
								</div>
							</div>
							
							<div class="col-md-6">
									<a href="/searchByCategory?category=Friction"
										role="button" class="category_inner"> <img
										class="zoom_image img-responsive" alt="" src="/image/topleft.jpg" />
										<span class="info_wrapper">
											<p class="category-name">Designer Salwar Suit</p>
									</span>
									</a>
								</div>

							



							</div>
						</div>
					</div>
					<!-- Product Categories End-->
					
					<!-- Carousel Start-->
					<section id="carousel" class="hideme">
						<ul class="jcarousel-skin-opencart">
							<li><a href="#"><img src="/image/product/brand_logo.jpg"
									alt="brand_logo" title="brand_logo" /></a></li>
							<li><a href="#"><img
									src="/image/product/brand_logo1.jpg" alt="brand_logo"
									title="brand_logo" /></a></li>
							<li><a href="#"><img
									src="/image/product/brand_logo2.jpg" alt="brand_logo"
									title="brand_logo" /></a></li>
							<li><a href="#"><img
									src="/image/product/brand_logo3.jpg" alt="brand_logo"
									title="brand_logo" /></a></li>
							<li><a href="#"><img
									src="/image/product/brand_logo4.jpg" alt="brand_logo"
									title="brand_logo" /></a></li>
							<li><a href="#"><img
									src="/image/product/brand_logo5.jpg" alt="brand_logo"
									title="brand_logo" /></a></li>
						</ul>
					</section>
					<!-- Carousel End-->

					<div class="clear"></div>
				</div>

				<script th:src="@{/js/controller.js}"></script>

				<!-- end of container -->
				<div th:replace="common/head :: footer" />

				<div th:replace="common/head :: body-bottom-scripts" />
			</div>
		</div>

	</div>

</body>
</html>