<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/homeheader :: home-head" />
	<body class="home-1 top-btn-color">
        <!-- HEADER -->
        <div th:replace="common/homeheader :: navbar" />
 		<!-- HEADER -->
 		<div th:replace="common/homeheader :: ticker-slider" />
		<!-- HOME SLIDER -->
<!-- Nivo Slider Start -->
					<section class="slider-wrapper">
						<div id="slideshow" class="nivoSlider">
							<a class="nivo-imageLink"
								th:href="@{/}+${homePage.slideOneUrl}"><img
								th:src="${fileUrl}+${homePage.slideOneImg}"
								alt="slide-1" /></a> <a
								class="nivo-imageLink"
								th:href="@{/}+${homePage.slideTwoUrl}"><img
								th:src="${fileUrl}+${homePage.slideTwoImg}" alt="slide-2" /></a> <a
								class="nivo-imageLink"
								th:href="@{/}+${homePage.slideThreeUrl}"><img
								th:src="${fileUrl}+${homePage.slideThreeImg}" alt="slide-3" /></a> 
						</div>
					</section>
					
					<script>
					
	                $(document).ready(function() {
	                    $('#slideshow').nivoSlider();
	                });
	                
					
					</script>
					
					<!-- Nivo Slider End-->
		<!-- HOME SLIDER -->
		
        <!-- MAIN CONTENT AREA -->
        <div class="maincontent-area" style="padding-top:0px;">
					<div class="special-wid-h2">
						<div class="special-overlay"></div>
						<div class="special-bg-h2">
							<img th:src="${fileUrl}+${homePage.categoryOneImg}" alt=""/>
						</div>
						<div class="special-text-h2 textwhite text-center text-uppercase">
							<h4  th:text="${homePage.categoryOneLable}"></h4>
							<span  th:text="${homePage.categoryOneLable2}"></span>
							<!-- /br-->
							<a class="read-more-h2" th:href="@{/}+${homePage.categoryOneUrl}">get the look <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div> 
					<div class="special-wid-h2">
						<div class="special-overlay"></div>
						<div class="special-bg-h2">
							<img th:src="${fileUrl}+${homePage.categoryTwoImg}" alt=""/>
						</div>
						<div class="special-text-h2 s-second-f-s text-center text-uppercase">
							<h4 th:text="${homePage.categoryTwoLable}"></h4>
							<span th:text="${homePage.categoryTwoLable2}"></span>
							<!-- /br-->
							<a class="read-more-h2" th:href="@{/}+${homePage.categoryTwoUrl}">get the look <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div> 
					<div class="special-wid-h2">
						<div class="special-overlay"></div>
						<div class="special-bg-h2">
							<img th:src="${fileUrl}+${homePage.categoryThreeImg}" alt=""/>
						</div>
						<div class="special-text-h2 textwhite s-second-f-t text-center text-uppercase">
							<h4 th:text="${homePage.categoryThreeLable}"></h4>
							<span th:text="${homePage.categoryThreeLable2}"></span>
							<!-- /br-->
							<a class="read-more-h2" th:href="@{/}+${homePage.categoryThreeUrl}">get the look <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div> 
					<div class="special-wid-h2">
						<div class="special-overlay"></div>
						<div class="special-bg-h2">
							<img th:src="${fileUrl}+${homePage.categoryFourImg}" alt=""/>
						</div>
						<div class="special-text-h2 text-center s-second-f-t text-uppercase">
							<h4 th:text="${homePage.categoryFourLable}"></h4>
							<span th:text="${homePage.categoryFourLable}"></span>
							<!-- /br-->
							<a class="read-more-h2" th:href="@{/}+${homePage.categoryFourUrl}">get the look <i class="fa fa-angle-double-right"></i></a>
						</div>
					</div>                                                
        </div>
		<!-- MAIN CONTENT AREA -->
		<!-- MAIN CONTENT AREA SECOND -->
		<div class="maincontent-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="special-wid special-small special-first">
                            <div class="special-bg"  th:style="|background-image: url(${fileUrl}${homePageAdditional.specialOneImg});|">
                            <!-- special-1 -->
                            </div>
                            <div class="special-text special-text-right text-uppercase">
                                <h4 th:text="${homePageAdditional.specialOneLable}"></h4>
                                <h2 th:text="${homePageAdditional.specialOneLable2}"></h2>
                                <h3 th:text="${homePageAdditional.specialOneLable3}"></h3>
                                <p th:text="${homePageAdditional.specialOneText}"></p>
                                <a th:href="@{/}+${homePageAdditional.specialOneUrl}" class="read-more">shop now</a>
                            </div>
                        </div>
                        <div class="special-wid special-big">
                            <div class="special-bg" th:style="|background-image: url(${fileUrl}${homePageAdditional.specialFourImg});|">
                           
                            </div>
							<a th:href="@{/}+${homePageAdditional.specialFourUrl}">
								<div class="special-text special-text-bottom text-center">
									<h2 th:text="${homePageAdditional.specialFourLable}"></h2>
									<p th:text="${homePageAdditional.specialFourText}"></p>
								</div>
							</a>
                        </div>
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="special-wid special-big">
                            <div class="special-bg" th:style="|background-position: center center;background-image: url(${fileUrl}${homePageAdditional.specialTwoImg});|"></div>
							<a th:href="@{/}+${homePageAdditional.specialTwoUrl}">
								<div class="special-text special-text-bottom no-overlay text-center">
									<h2 th:text="${homePageAdditional.specialTwoLable}"></h2>
									<p th:text="${homePageAdditional.specialTwoLable2}"></p>
								</div>
							</a>
                        </div> 
                        
                        <div class="sale-widget special-small">
							<a th:href="@{/}+${homePageAdditional.specialFiveUrl}">
								<div class="sale-widget-inner">
									<h2 th:text="${homePageAdditional.specialFiveLable}"></h2>
									<p th:text="${homePageAdditional.specialFiveText}"></p>
								</div>
							</a>
                        </div>                       
                    </div>
                    
                    <div class="col-md-4 col-sm-4">
                        <div class="special-wid special-small">
                            <div class="special-bg" th:style="|background-image: url(${fileUrl}${homePageAdditional.specialThreeImg});|"></div>
                            <div class="special-text special-text-left">
                                <a th:href="@{/}+${homePageAdditional.specialThreeUrl}"><h2 th:text="${homePageAdditional.specialThreeLable}"></h2></a>
                                <a th:href="@{/}+${homePageAdditional.specialThreeUrl}"><h3 th:text="${homePageAdditional.specialThreeLable2}"></h3></a>
                                <p th:text="${homePageAdditional.specialThreeText}"></p>
                            </div>
                        </div> 
                        
                        <div class="special-wid special-big">
                            <div class="special-bg" th:style="|background-image: url(${fileUrl}${homePageAdditional.specialSixImg});|"></div>
							<a th:href="@{/}+${homePageAdditional.specialSixUrl}">
								<div class="special-text special-text-bottom text-center">
									<h2 th:text="${homePageAdditional.specialSixLable}"></h2>
									<p th:text="${homePageAdditional.specialSixText}"></p>
								</div>
							</a>
                        </div>                                               
                    </div>
                </div>
            </div>
        </div>
		<!-- MAIN CONTENT AREA SECOND -->
		
		<!-- PRODUCT TABS -->
		<div class="product-tabs">
			<div class="container">
				<div role="tabpanel">
					<!-- PRODUCT NAV -->
					<div class="product-tabs-title">
						<ul class="tabs-head" role="tablist">
							<li class="active"><a th:href="@{#tab_one}" role="tab" data-toggle="tab" aria-expanded="true">Featured Products</a></li>
							<li class=""><a th:href="@{#tab_two}" role="tab" data-toggle="tab" aria-expanded="false">Best Seller</a></li>
							<li class=""><a th:href="@{#tab_three}" role="tab" data-toggle="tab" aria-expanded="false">Special</a></li>
						</ul>
					</div>
					<!-- PRODUCT NAV -->
					
					<!-- PRODUCTS -->
					<div class="tab-content">
						<!-- Featured Products -->
						<div role="tabpanel" class="tab-pane fade active in" id="tab_one">
							<div class="row">
								<div class="col-md-3 col-sm-6" data-th-each="product : ${featuredProductList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}">
									<div class="product-singleArea">
										<div class="product-img">
											<div class="overlay"></div>
											 <img class="img-responsive primary_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/>
											<img class="img-responsive hover_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/> 
											<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="offer-nostock">sale</div>
											<div class="product-cart-area">
												<div class="btn-others" th:if="!${siteSettings.loginKillSwitch}">
													<ul>
														<li><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
														<li><a href="#"><i class="fa fa-expand"></i></a></li>
													</ul>
												</div>
												<div class="btn-add-to-cart cart-btn"><a th:href="@{/productDetail?id=}+${product.id}">GET A LOOK</a></div>
											</div>
										</div>
										<div class="product-details">
											<div class="product-title"><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></div>
											<div class="product-pd">
												<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												<div class="product-discount" th:with="discount=${100-(product.ourPrice/product.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
												<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="product-listprice">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												
											</div>
											<div class="product-review">
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Featured Products -->
						
						<!-- Best Seller Products -->
						<div role="tabpanel" class="tab-pane fade" id="tab_two">
							<div class="row">
								<div class="col-md-3 col-sm-6" data-th-each="product : ${bestSellerProductList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}">
									<div class="product-singleArea">
										<div class="product-img">
											<div class="overlay"></div>
											 <img class="img-responsive primary_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/>
											<img class="img-responsive hover_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/> 
											<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="offer-nostock">sale</div>
											<div class="product-cart-area">
												<div class="btn-others" th:if="!${siteSettings.loginKillSwitch}">
													<ul>
														<li><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
														<li><a href="#"><i class="fa fa-expand"></i></a></li>
													</ul>
												</div>
												<div class="btn-add-to-cart cart-btn"><a th:href="@{/productDetail?id=}+${product.id}">GET A LOOK</a></div>
											</div>
										</div>
										<div class="product-details">
											<div class="product-title"><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></div>
											<div class="product-pd">
												<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												<div class="product-discount" th:with="discount=${100-(product.ourPrice/product.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
												<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="product-listprice">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												
											</div>
											<div class="product-review">
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								
							</div>
						</div>
						<!-- Best Seller Products -->
						
						<!-- Special Products -->
						<div role="tabpanel" class="tab-pane fade" id="tab_three">
							<div class="row">
								<div class="col-md-3 col-sm-6" data-th-each="product : ${specialProductList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}">
									<div class="product-singleArea">
										<div class="product-img">
											<div class="overlay"></div>
											 <img class="img-responsive primary_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/>
											<img class="img-responsive hover_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="title=${product.title},alt=${product.title}"/> 
											<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="offer-nostock">sale</div>
											<div class="product-cart-area">
												<div class="btn-others" th:if="!${siteSettings.loginKillSwitch}">
													<ul>
														<li><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
														<li><a href="#"><i class="fa fa-expand"></i></a></li>
													</ul>
												</div>
												<div class="btn-add-to-cart cart-btn"><a th:href="@{/productDetail?id=}+${product.id}">GET A LOOK</a></div>
											</div>
										</div>
										<div class="product-details">
											<div class="product-title"><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></div>
											<div class="product-pd">
												<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												<div class="product-discount" th:with="discount=${100-(product.ourPrice/product.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
												<div th:if="${product.listPrice} &gt; ${product.ourPrice}" class="product-listprice">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												
											</div>
											<div class="product-review">
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
						<!-- Special Products -->
					</div>
					<!-- PRODUCTS -->
				</div>
			</div>
		</div>
		<!-- PRODUCT TABS -->		
		
		<!--UPSELLING -->
		<div class="up-coming-product">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<div class="upcoming_one">
							<div class="up_c_img">
								<img th:src="${fileUrl}+${homePage.promotionOneImg}" alt=""/>
							</div>
							<div class="up_c_cont text-center">
								<a th:href="@{/}+${homePage.promotionOneUrl}"><h3 th:text="${homePage.promotionOneLable}"></h3></a>
								<span></span>
								<p th:text="${homePage.promotionOneText}"></p>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="upcoming_one">
							<div class="up_c_img">
								<img th:src="${fileUrl}+${homePage.promotionTwoImg}" alt=""/>
							</div>
							<div class="up_c_contTwo">
								<span></span>
								<a th:href="@{/}+${homePage.promotionTwoUrl}"><h3 th:text="${homePage.promotionTwoLable}"></h3></a>
								<br/>
								<p th:text="${homePage.promotionTwoText}"></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>	
		<!--UPSELLING-->
		<!-- Product Sale Category -->
		<div class="sale-category">
			<div class="container">
				<div class="row">
					<!-- Hot Deal Products -->
					<div class="col-md-6">
						<div class="text-center">
							<div class="section-title"><span>hot deal</span></div>
						</div>

						<div class="hot-deal-product">
							<div class="col-md-6 col-sm-6 paddingLeft">
								<div class="product-img ">
									<img class="img-responsive" th:src="${fileUrl}+${hotProduct.coverImageName}" th:attr="title=${hotProduct.title},alt=${hotProduct.title}"/>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 paddingRight">
								<div class="product-details-list">
									<h6><a class="hotdealTitle" th:href="@{/productDetail?id=}+${hotProduct.id}" th:text="${hotProduct.title}"></a></h6>
									<div class="product-review-list">
										<ul>
											<li>
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</li>
										</ul>
									</div>
									<div class="product-pd-list">
										<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(hotProduct.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
										<div class="product-discount" th:with="discount=${100-(hotProduct.ourPrice/hotProduct.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
										<div class="product-listprice" th:if="${hotProduct.listPrice} &gt; ${hotProduct.ourPrice}">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(hotProduct.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
									</div>
									<p th:utext="${hotProduct.description}"></p>
									<div class="product-cart-area-list">
										<div class="dealAddToCart cart-btn"><a th:href="@{/currentdeals?deal=}+${siteSettings.hotDeal}">GRAB THIS DEAL</a></div>
										<div class="btn-others-list" th:if="!${siteSettings.loginKillSwitch}">
											<ul>
												<li><a th:href="@{/productDetail?id=}+${hotProduct.id}"><i class="fa fa-heart-o"></i></a></li>
												<li><a th:href="@{/productDetail?id=}+${hotProduct.id}"><i class="fa fa-exchange"></i></a></li>
											</ul>
										</div>
									</div>
									<input type="hidden" id="hotDealExpiry" name="hotDealExpiry" th:value="${siteSettings.hotDealExpiry}"/>
									<div class="hotDealProduct">
										<div id="hotDealProduct"><span class="cdown day"><span id="cdown_day">0 </span><p>Days</p></span> 
										<span class="cdown hour"><span id="cdown_hour">0 </span> <p>Hours</p></span> 
										<span class="cdown minutes"><span id="cdown_minutes">00 </span> <p>Minutes</p></span> 
										<span><span id="cdown_second">00 </span> <p>Seconds</p></span></div>
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!-- Hot Deal Products -->

					
					<!-- Best Sellers Category -->
					<div class="col-md-3 col-sm-6">
						<div class="top-r-pdct">
							<div class="checkTitle">
								<h5 class="ct-design">On Sale</h5>
							</div>
							<ul>
								<li data-th-each="product : ${saleProductList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}">
									<a th:href="@{/productDetail?id=}+${product.id}"><img alt="" th:src="${fileUrl}+${product.coverImageName}"/></a>
									<div class="top-sale-info">
										<h6><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></h6>
										<div class="top-product-review">
											<div class="star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
											</div>
										</div>
										<div class="top-product-price col-md-6">$<span th:text="${product.ourPrice}"></span></div>
										<div class="top-product-listprice col-md-6"><span>$</span><span th:text="${product.listPrice}"></span></div>
									</div>
								</li>
							
								
							</ul>
						</div>
					</div>
					<!-- Best Sellers Category -->
					
					<!-- On Sale Category -->
					<div class="col-md-3 col-sm-6">
						<div class="top-r-pdct">
							<div class="checkTitle">
								<h5 class="ct-design">Latest</h5>
							</div>
							<ul>
								<li data-th-each="product : ${latestProductList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-size=${product.size}">
									<a th:href="@{/productDetail?id=}+${product.id}"><img alt="" th:src="${fileUrl}+${product.coverImageName}"/></a>
									<div class="top-sale-info">
										<h6><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></h6>
										<div class="top-product-review">
											<div class="star">
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
												<span class="yes"><i class="fa fa-star"></i></span>
											</div>
										</div>
										<div class="top-product-price col-md-6">$<span th:text="${product.ourPrice}"></span></div>
										<div class="top-product-listprice col-md-6"><span>$</span><span th:text="${product.listPrice}"></span></div>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Product Sale Category -->
		<!--DISCOUNT AREA-->
		<div class="discound_area">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-12">
						<div class="left-discount">
							<div class="dis-img">
								<img th:src="${fileUrl}+${homePageAdditional.bannerOneImg}" alt=""/>
								<div class="dis-content">
									<div class="d_b_text">
										<h4 th:text="${homePageAdditional.bannerOneLable}"></h4>
										<h2 th:text="${homePageAdditional.bannerOneLable2}"></h2>
										<a class="dis-link" th:href="@{/}+${homePageAdditional.bannerOneUrl}">get the look <span><i class="fa fa-angle-double-right"></i></span></a>
									</div>
								</div>
							</div>														
						</div>
					</div>
					<div class="col-md-7 col-sm-12">
						<div class="row">
							<div class="col-md-12 col-sm-12">
								<div class="right-top-discount">
									<div class="right-dis-top-img">
										<img th:src="${fileUrl}+${homePageAdditional.bannerTwoImg}" alt=""/>
										<div class="right-dis-content">
											<div class="right-top-dis-text">
												<h3 th:text="${homePageAdditional.bannerTwoLable}"></h3>
												<h2 th:text="${homePageAdditional.bannerTwoLable2}"></h2>
											</div>
										</div>										
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6">
								<div class="dis-bottom-left">
									<div class="dis-bottom-left-img">
										<img th:src="${fileUrl}+${homePageAdditional.bannerThreeImg}" alt=""/>
									<div class="dis-bottom-left-content">
										<div class="dis-bottom-left-text">
											<h6 th:text="${homePageAdditional.bannerThreeLable}"></h6>
											<h2 th:text="${homePageAdditional.bannerThreeLable2}"></h2>
											<a class="dis-link" th:href="@{/}+${homePageAdditional.bannerThreeUrl}">get the look <span><i class="fa fa-angle-double-right"></i></span></a>
										</div>
									</div>										
									</div>
								</div>
							</div>
							<div class="col-md-6 col-sm-6 dis-rig-pa">
								<div class="dis-bottom-right">
									<div class="dis-bottom-right-img">
										<img th:src="${fileUrl}+${homePageAdditional.bannerFourImg}" alt=""/>
									<div class="dis-bottom-right-content">
										<div class="dis-bottom-right-text">
											<h6 th:text="${homePageAdditional.bannerFourLable}"></h6>
											<h2 th:text="${homePageAdditional.bannerFourLable2}"></h2>
											<a class="dis-link" th:href="@{/}+${homePageAdditional.bannerFourUrl}">get the look <span><i class="fa fa-angle-double-right"></i></span></a>
										</div>
									</div>										
									</div>
								</div>							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--DISCOUNT AREA-->
		<!-- Testimonial -->
		<div id="testimonial" th:style="|background:url(${fileUrl}${homePageAdditional.testimonialImg}) no-repeat scroll left center/cover rgba(0, 0, 0, 0);|">
			<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<div class="section-title"><span>#MYKOLYSTYLE</span></div>
					<div class="testyslider-title"><span>What our customers says about us</span></div>
				</div>
				<div class="col-md-12">
					<div class="testyslider">
						
					<div class="flex-viewport" style="overflow: hidden; position: relative;"><ul class="slides" style="width: 1200%; transition-duration: 0s; transform: translate3d(-2280px, 0px, 0px);">
							<li style="width: 400px; float: left; display: block;" class="testimonial-content" data-th-each="review : ${reviewsList}">
								
								<div class="author_testy">
									<p th:utext="${review.reviewText}"></p>
									<span class="author_name" th:text="${review.fullName}">
										
									</span>
									<span class="author_position">
										- <span th:text="${review.reviewType}"></span>
									</span>
								</div>
							</li>
						
						</ul></div>
						<ol class="flex-control-nav flex-control-paging">
						
						</ol>
						</div>
				</div>
			</div>
			</div>
		</div>
		<!-- Testimonial -->
		
		<!-- Blog -->
		<div id="blog-col">
			<div class="container">
				<div class="row">
					<div class="col-md-12 text-center">
						<div class="section-title"><span>STYLE CONCEPTS</span></div>
					</div>
					<div class="bolg-col">
						<div class="col-md-3 col-sm-6">
							<div class="blog-post-area">
								<div class="blog-post-col">
									<div class="blog-thumb">
										<img th:src="${fileUrl}+${homePage.offerOneImg}" alt=""/>
										<div class="post-meta-date post-meta-home">
											<a th:href="@{/}+${homePage.offerOneUrl}">GET THE LOOK</a>
										</div>
									</div>
									<div class="blog-post">	
										<h5><a th:href="@{/}+${homePage.offerOneUrl}" th:text="${homePage.offerOneTitle}"></a></h5>
										<p th:text="${homePage.offerOneText}"></p>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="blog-post-area">
								<div class="blog-post-col">
									<div class="blog-thumb">
										<img th:src="${fileUrl}+${homePage.offerTwoImg}" alt=""/>
										<div class="post-meta-date post-meta-home">
											<a th:href="@{/}+${homePage.offerTwoUrl}">GET THE LOOK</a>
										</div>
									</div>
									<div class="blog-post">	
										<h5><a th:href="@{/}+${homePage.offerTwoUrl}" th:text="${homePage.offerTwoTitle}"></a></h5>
										<p th:text="${homePage.offerTwoText}"></p>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="blog-post-area">
								<div class="blog-post-col">
									<div class="blog-thumb">
										<img th:src="${fileUrl}+${homePage.offerThreeImg}" alt=""/>
										<div class="post-meta-date post-meta-home">
											<a th:href="@{/}+${homePage.offerThreeUrl}">GET THE LOOK</a>
										</div>
									</div>
									<div class="blog-post">	
										<h5><a th:href="@{/}+${homePage.offerThreeUrl}" th:text="${homePage.offerThreeTitle}"></a></h5>
										<p th:text="${homePage.offerThreeText}"></p>
									</div>
								</div>
								
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="blog-post-area">
								<div class="blog-post-col">
									<div class="blog-thumb">
										<img th:src="${fileUrl}+${homePage.offerFourImg}" alt=""/>
										<div class="post-meta-date post-meta-home">
											<a th:href="@{/}+${homePage.offerFourUrl}">GET THE LOOK</a>
										</div>
									</div>
									<div class="blog-post">	
										<h5><a th:href="@{/}+${homePage.offerFourUrl}" th:text="${homePage.offerFourTitle}"></a></h5>
										<p th:text="${homePage.offerFourText}"></p>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Blog -->
		
		<!-- Special -->
		<div id="special">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="special-box-col">
							<div class="col-md-3 col-sm-3 text-center special-box">
								<span class="special-icon"><i class="fas fa-shipping-fast"></i></span>
								<h5><a href="http://bootexperts.com/html/kolystyle-ecommerce/kolystyle/index-2.html">fast SHIPPING</a></h5>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
							</div>
							<div class="col-md-3 col-sm-3 text-center special-box">
								<span class="special-icon"><i class="fas fa-credit-card"></i></span>
								<h5><a href="http://bootexperts.com/html/kolystyle-ecommerce/kolystyle/index-2.html">SECURE PAYMENTS</a></h5>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
							</div>
							<div class="col-md-3 col-sm-3 text-center special-box">
								<span class="special-icon"><i class="fas fa-comments"></i></span>
								<h5><a href="http://bootexperts.com/html/kolystyle-ecommerce/kolystyle/index-2.html">CUSTOMER SUPPORT</a></h5>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
							</div>
							<div class="col-md-3 col-sm-3 text-center special-box">
								<span class="special-icon"><i class="fas fa-shopping-bag"></i></span>
								<h5><a href="http://bootexperts.com/html/kolystyle-ecommerce/kolystyle/index-2.html">EASY SHOPPING</a></h5>
								<p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Service -->
		
		<!-- Footer -->
		<div th:replace="common/homeheader :: footer" />
		
		<script th:src="@{/js/countdown.js}"></script>

</body>
</html>