<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/homeheader :: home-head" />
	<body class="home-1 top-btn-color">
		
        <!-- HEADER -->
        <div th:replace="common/homeheader :: navbar" />
 		<!-- HEADER -->
 		<div th:replace="common/homeheader :: ticker-slider" />	

			<div class="container" id="container">
				<div id="content">			
				
									
		<div class="row" style="margin-top: 10px;">
		
		
		
				<div class="col-md-8">
				<div class="panel-group" id="accordion">
					<div class="col-md-12">
					<!-- Contact Information -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-toggle="collapse" data-parent="#accordion"
										href="#customerInfo">SHIPPING TO</a>	
									<a class="pull-right text-primary" href="/cart/guestcheckout">Edit</a>	
								</h4>
								
							</div>
							<div id="customerInfo" class="panel-collapse collapse in"
								th:classappend="${classActiveCustomer}? 'in'">
								<div class="panel-body">
								
										<p><span th:text="${shoppingCart.shippingAddress.firstName}"></span> 
										<span th:text="${shoppingCart.shippingAddress.lastName}"></span></p>
										<p th:text="${shoppingCart.shippingAddress.ShippingAddressStreet1}"></p>
										<p th:text="${shoppingCart.shippingAddress.ShippingAddressStreet2}"></p>
										<p><span th:text="${shoppingCart.shippingAddress.ShippingAddressCity}"></span>, 
										<span th:text="${shoppingCart.shippingAddress.ShippingAddressState}"></span> - 
										<span th:text="${shoppingCart.shippingAddress.ShippingAddressZipcode}"></span></p>
										<p><i class="fa fa-envelope"></i> <span th:text="${shoppingCart.shippingAddress.ShippingEmail}"></span></p>
										<p><i class="fa fa-phone"></i> <span th:text="${shoppingCart.shippingAddress.ShippingPhone}"></span></p>

										<p><span>Shipping Method: </span> <span th:text="${shoppingCart.shippingMethod}"></span></p>
									
								</div>
							</div>
						</div>
					
					</div>
		
		
	</div>
	
								<div class="col-md-12">
					<div class="panel panel-default">
					<div class="panel-heading">
							<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#reviewItems">REVIEW ITEMS</a>
							<a class="pull-right text-primary" href="/shoppingCart/cart">Update Products</a>	
							</h4>
						</div>
					<div id="reviewItems" class="panel-collapse collapse in">
					<div class="panel-body">
						
						
						<div class="row">
						<div class="col-xs-6"><h4>Products</h4></div>
						<div class="col-xs-2"><h4>Price</h4></div>
						<div class="col-xs-2"><h4>Qty</h4></div>
						<div class="col-xs-2 text-right"><h4>Amount</h4></div>
						</div>
						
						<!-- Display products in cart -->
						<div class="row" data-th-each="cartItem : ${shoppingCart.cartItemList}">
						
						<hr/>
						<div class="col-md-2 col-xs-12">
						<a th:href="@{/productDetail?id=}+${cartItem.product.id}">
						<img class="img-responsive shelf-product" th:src="${fileUrl}+${cartItem.product.coverImageName}" th:attr="alt=${cartItem.product.title}" style="width:70px;" />
						</a>
						</div>
						<div class="col-md-4 col-xs-12">
							<div class="col-md-12">	
							<a th:href="@{/productDetail?id=}+${cartItem.product.id}"><span th:text="${cartItem.product.title}"></span></a>
							</div>
							<div class="col-md-12">	
								<span>Size: </span><span th:text="${cartItem.productSize}"></span>
							</div>
							<div class="col-md-12">	
								<p><span>Web ID: </span><span th:text="${cartItem.product.sku}"></span></p>
							</div>
							<div class="col-md-12">	
								<p class="stichCos">
								<strong><span>Stitching: +$</span><span th:text="${cartItem.stitchingTotal}"></span></strong>
								 </p>
							</div>
						</div>
						
							<div class="col-md-2 col-xs-4">
								<span style="color: #db3208; font-size: large;">
									$<span th:text="${cartItem.product.ourPrice}"></span>
								</span>
								
							</div>
							<div class="col-md-2 col-xs-4">
								<span style="font-size:large" th:text="${cartItem.qty}"></span>
							</div>
							<div class="col-md-2 col-xs-4">
							

							
							<span class="text-primary text-right" style="font-size: large;">
									$<span th:with="result=${cartItem.product.ourPrice * cartItem.qty}" th:text="${#numbers.formatDecimal(result, 0 , 'COMMA', 2, 'POINT')}"></span>
								</span>
							</div>
							
						</div>
						<hr/>

						</div>
						</div>
					</div>
				</div>
		</div>
		

		
		
		<div class="col-md-4">
		
		<div class="panel-group" id="accordion">
								<div class="col-md-12">
					<!-- Contact Information -->
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									<a class="" data-toggle="collapse" data-parent="#accordion"
										href="#customerInfo">ORDER SUMMARY</a>	
								</h4>
								
							</div>
							<div id="customerInfo" class="panel-collapse collapse in"
								th:classappend="${classActiveCustomer}? 'in'">
								<div class="panel-body">
								
										
										
										<div class="row">
								<div class="col-xs-7 text-left">Subtotal :</div>
								<div class="col-xs-5 text-right">
									$<span th:text="${shoppingCart.grandTotal}"></span>
								</div>
							</div>

							
							<div class="row">
								<div class="col-xs-7 text-left">Discount :</div>
								<div class="col-xs-5 text-right text-danger">
									-$<span  th:text="${shoppingCart.discountedAmount}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-7 text-left">Stitching : </div>
								<div class="col-xs-5 text-right">
									$<span  th:text="${shoppingCart.stitchingTotal}"></span>
								</div>
							</div>
							<div class="row">
								<div class="col-xs-7 text-left">Shipping : </div>
								<div class="col-xs-5 text-right text-success">
									$<span  th:text="${shoppingCart.shippingCost}"></span>
								</div>
							</div>
							
							
							<div class="row">
								<div class="col-xs-7 text-left">
									<h3 class="order-total-text" style="color: darkred;">
										<strong>Order Total : </strong>
									</h3>
								</div>
								<div class="col-xs-5 text-right">
									<h3 class="order-total-text">
										<strong style="color: darkred;">$<span th:text="${shoppingCart.orderTotal}"></span></strong>
									</h3>
								</div>
								
							</div>
								<br/>
		<p>By placing your order, you agree to Koly Style <a th:href="@{/public/privacy}">privacy notice</a> and <a th:href="@{/public/terms}">conditions of use</a>.</p>
				
									
								</div>
							</div>
						</div>
					
					</div>
		
		
	</div>
		
		
		
			<form action='/guest/charge' method='POST' id='checkout-form'>
		    <input type='hidden' th:value='${amount}' name='finalamount' id="finalamount"/>
		    
		    <!-- NOTE: data-key/data-amount/data-currency will be rendered by Thymeleaf -->
		    <script
		       src='https://checkout.stripe.com/checkout.js'
		       class='stripe-button'
		       th:attr='data-key=${stripePublicKey}, 
		         data-amount=${amount}, 
		         data-currency=${currency},
		         data-image
		         =#{adminPath}+@{/image/loggo.png},
		         data-email=${shoppingCart.shippingAddress.ShippingEmail}'
		       data-name='Koly Style'
		       data-description='Clicking Pay Button will finalize order'
		       
		       data-locale='auto'
		       data-billing-address='true'
		       data-label='Pay with Credit Card'
		       data-allow-remember-me='false'
		       data-panel-label='Pay'
		       data-zip-code='true'>
		   </script>
		</form>
		
</div>
			
			
			
			
			
			
		</div>
		
		
		<div class="clear"></div>

				</div>

				
				
		</div>
		<script th:src="@{/js/controller.js}"></script>
				<div th:replace="common/homeheader :: footer" />
				
<script src="/js/demo.js"></script>
</body>
</html>