<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/homeheader :: home-head" />
	<body class="home-1 top-btn-color">
        <!-- HEADER -->
        <div th:replace="common/homeheader :: navbar" />
 		<!-- HEADER -->
 		<div th:replace="common/homeheader :: ticker-slider" />

			
<style>
.pagination>.active>a {
    background: black;
    color: #ffffff;
    border-color: #000000;
}
</style>
		
		<div class="container" style="margin-top: 10px;">
		<h3 class="text-center hide-me">SHOP: <span class="category-title" th:text="${procategory}"></span></h3>
		<div class="col-md-3 hide-me">
			<!--h3><label for="category">Category</label></h3-->
			<div class="list-group" id="category">
			<a th:href="@{/productshelf(category='all')}" th:classappend="${activeAll}? 'active'" class="list-group-item">Brand</a>
			
			
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="brand : ${brandList}"><label><input type="checkbox" th:value="${brand}"  th:text="${brand}"/></label></li>			
				</ul>
			
			
			<a th:href="@{/searchByCategory(category='Friction')}" th:classappend="${activeFriction}? 'active'" class="list-group-item">Fabric</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="type : ${typeList}"><label><input type="checkbox" th:value="${type}"  th:text="${type}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Management')}" th:classappend="${activeManagement}? 'active'" class="list-group-item">Type</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="fabric : ${fabricList}"><label><input type="checkbox" th:value="${fabric}"  th:text="${fabric}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Management')}" th:classappend="${activeManagement}? 'active'" class="list-group-item">Size</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="productAttribute : ${productAttributeLis}"><label><input type="checkbox" th:value="${productAttribute}"  th:text="${productAttribute.attribute}"/></label></li>			
				</ul>
			<a href="" class="list-group-item">Price</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="productAttr : ${productAttributeList}"><label><input type="checkbox" th:value="${productAttr}"  th:text="${productAttr.valueString}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Engineering')}" th:classappend="${activeEngineering}? 'active'" class="list-group-item">Style</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="brand : ${brandList}"><label><input type="checkbox" th:value="${brand}"  th:text="${brand}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Programming')}" th:classappend="${activeProgramming}? 'active'" class="list-group-item">Occasion</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="brand : ${brandList}"><label><input type="checkbox" th:value="${brand}"  th:text="${brand}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Friction')}" th:classappend="${activeFriction}? 'active'" class="list-group-item">Work</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="brand : ${brandList}"><label><input type="checkbox" th:value="${brand}"  th:text="${brand}"/></label></li>			
				</ul>
			<a th:href="@{/searchByCategory(category='Arts &amp; Literature')}" th:classappend="${activeArtsLiterature}? 'active'" class="list-group-item">Color</a>
				<ul class="brandlist row">
						<li class="brandname col-md-6" data-th-each="brand : ${brandList}"><label><input type="checkbox" th:value="${brand}"  th:text="${brand}"/></label></li>			
				</ul>
		</div>
		</div>
			<div class="col-md-12">

				<div th:if="${emptyList}" class="no-content">
					<h5><strong>Oops...</strong><br/><br/>We're sorry but we couldn't find the product you are looking for.<br/>
					<br/>

You can browse through our popular links above</h5>
				</div>
				<div class="content-header" th:if="!${emptyList}">
					<div class="col-md-12">
					<img th:src="${filePath}+${siteSettings.shopOfferBanner}" class="img-responsive" style="margin-bottom:10px;"/>
					
					</div>
				
				
				</div><br/><br/>
				<!-- Each Product Start -->
	<div class="col-md-3 col-sm-6" data-th-each="product : ${clientlist}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-subcategory=${product.subCategory.subCategorySlug},data-subsubcategory=${product.mainSubCategory.subSubCategorySlug},data-size=${product.size}">
									<div class="product-singleArea">
										<div class="product-img">
											<div class="overlay"></div>
											<img class="img-responsive primary_image" src="image/1(2).jpg" alt=""/>
											<img class="img-responsive hover_image" src="image/2(2).jpg" alt=""/>
											<!-- <img class="img-responsive primary_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="alt=${product.title}"/>
											<img class="img-responsive hover_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="alt=${product.title}"/> -->
											<div class="offer-nostock">sale</div>
											<div class="product-cart-area">
												<div class="btn-others" th:if="!${siteSettings.loginKillSwitch}">
													<ul>
														<li><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
														<li><a href="#"><i class="fa fa-expand"></i></a></li>
													</ul>
												</div>
												<div class="btn-add-to-cart cart-btn"><a th:href="@{/productDetail?id=}+${product.id}">GET A LOOK</a></div>
											</div>
										</div>
										<div class="product-details">
											<div class="product-title"><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></div>
											<div class="product-pd">
												<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												<div class="product-discount" th:with="discount=${100-(product.ourPrice/product.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
												<div class="product-listprice">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												
											</div>
											<div class="product-review">
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
			</div>
			
			<!-- Each Product Start -->
	<div class="col-md-12" th:if="${emptyList}">		
	<p class="section-title"><span>NEW ARRIVALS</span></p>		
	<div class="col-md-3 col-sm-6" data-th-each="product : ${productList}" th:attr="data-price=${product.ourPrice},data-brand=${product.brand},data-category=${product.category.categorySlug},data-subcategory=${product.subCategory.subCategorySlug},data-subsubcategory=${product.mainSubCategory.subSubCategorySlug},data-size=${product.size}">
									<div class="product-singleArea">
										<div class="product-img">
											<div class="overlay"></div>
											<img class="img-responsive primary_image" src="image/1(2).jpg" alt=""/>
											<img class="img-responsive hover_image" src="image/2(2).jpg" alt=""/>
											<!-- <img class="img-responsive primary_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="alt=${product.title}"/>
											<img class="img-responsive hover_image" th:src="${fileUrl}+${product.coverImageName}" th:attr="alt=${product.title}"/> -->
											<div class="offer-nostock">sale</div>
											<div class="product-cart-area">
												<div class="btn-others" th:if="!${siteSettings.loginKillSwitch}">
													<ul>
														<li><a th:href="@{/customer/addtolist?id=}+${product.id}" th:id="'addingtocart-'+${product.id}" class="addingtowishlist"><i class="fa fa-heart-o"></i></a></li>
														<li><a href="#"><i class="fa fa-expand"></i></a></li>
													</ul>
												</div>
												<div class="btn-add-to-cart cart-btn"><a th:href="@{/productDetail?id=}+${product.id}">GET A LOOK</a></div>
											</div>
										</div>
										<div class="product-details">
											<div class="product-title"><a th:href="@{/productDetail?id=}+${product.id}" th:text="${product.title}"></a></div>
											<div class="product-pd">
												<div class="product-price"><span>$</span>
													<span th:text="${#numbers.formatDecimal(product.ourPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												<div class="product-discount" th:with="discount=${100-(product.ourPrice/product.listPrice)*100}" >
												<div class="product-discount-container" th:if="${discount &gt; 0}">
														-<span class="discount-digit" th:text="${#numbers.formatDecimal(discount,0,0)}"></span>%
												</div>
												</div>
												<div class="product-listprice">
												<span>$</span>
													<span th:text="${#numbers.formatDecimal(product.listPrice, 0 , 'COMMA', 2, 'POINT')}"></span>
												</div>
												
											</div>
											<div class="product-review">
												<div class="star">
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
													<span class="yes"><i class="fa fa-star"></i></span>
												</div>
											</div>
										</div>
									</div>
								</div>
		</div>
			
			<p th:text="${totalRecord}"></p>
	<!-- Pagination -->
	<div class="col-md-12 text-center" th:if="!${emptyList}">
                <div class="form-group col-md-1">
                    <select class="form-control pagination" id="pageSizeSelect">
                        <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                            th:value="${pageSize}"
                            th:selected="${pageSize} == ${selectedPageSize}"></option>
                    </select>
                </div>
                <div th:if="${clientlist.totalPages != 1}"
                    class="form-group col-md-11 pagination-centered">
                    <ul class="pagination">
                        <li th:class="${clientlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${pageType}(pageSize=${selectedPageSize}, page=1)}">«</a>
                        </li>
                        <li th:class="${clientlist.number == 0} ? disabled"><a
                            class="pageLink"
                            th:href="@{${pageType}(pageSize=${selectedPageSize}, page=${clientlist.number})}">←</a>
                        </li>
                        <li
                            th:class="${clientlist.number == (page - 1)} ? 'active pointer-disabled'"
                            th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                            <a class="pageLink"
                            th:href="@{${pageType}(pageSize=${selectedPageSize}, page=${page})}"
                            th:text="${page}"></a>
                        </li>
                        <li
                            th:class="${clientlist.number + 1 == clientlist.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href="@{${pageType}(pageSize=${selectedPageSize}, page=${clientlist.number + 2})}">→</a>
                        </li>
                        <li
                            th:class="${clientlist.number + 1 == clientlist.totalPages} ? disabled">
                            <a class="pageLink"
                            th:href="@{${pageType}(pageSize=${selectedPageSize}, page=${clientlist.totalPages})}">»</a>
                        </li>
                    </ul>
                </div>
            </div>
	<!-- Pagination -->
		
	</div>
		
	
	<div class="clear"></div>
	<!-- end of container -->
	
				<script th:src="@{/js/controller.js}"></script>

				<!-- end of container -->


	
	
	
	<script th:inline="javascript">
	
        /*<![CDATA[*/
        $(document).ready(function() {
    changePageAndSize();
});
function changePageAndSize() {
    $('#pageSizeSelect').change(function(evt) {
    	var recordCount = /*[[${pageType}]]*/;
    	if(recordCount == "/products"){
    		window.location.replace(recordCount+"?pageSize=" + this.value + "&page=1");
    	}else{
        	window.location.replace(recordCount+"&pageSize=" + this.value + "&page=1");
        }
    });
}
        /*]]>*/
    </script>
	<!-- script>
	$(document).ready(function(){
		$('#productList').DataTable({
			"lengthMenu":[[5,10,15,20,-1],[5,10,15,20,"All"]],
			"ordering":false,
			stateSave:true
		});
		
		$("#productList").on('page.dt',function(){
			$('html, body').animate({
				scrollTop: $('#productList').offset().top
			}, 200);
		});
	});
	</script>


    
 <script th:src="@{/js/facet.js}"></script> 
  <script th:src="@{/js/jquery.deserialize.js}"></script> 
  <script th:src="@{/js/jquery.facets.js}"></script-->
  		<!-- Footer -->
		<div th:replace="common/homeheader :: footer" />
</body>

</html>