<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/homeheader :: home-head" />
	<body class="home-1 top-btn-color">
		
        <!-- HEADER -->
        <div th:replace="common/homeheader :: navbar" />
 		<!-- HEADER -->
 		<div th:replace="common/homeheader :: ticker-slider" />	
				
<div class="container">	
<div class="row">

		
		<div class="col-md-12">
		<h1 class="uppercase" th:text="${staticpage.title}"></h1>
		<div class="col-md-12 text-justify" th:utext="${staticpage.maincontent}">
			
		</div>
		</div>
		

</div>
</div>
	
				<!-- Footer -->
		<div th:replace="common/homeheader :: footer" />
		<script th:src="@{/js/controller.js}"></script>
		

</body>
</html>