<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-head" />
<body>
	<div class="wrapper-box">
		<div class="main-wrapper">

			<div th:replace="common/head :: navbar" />

			<div id="container-wrapper">


        <div class="col-md-3 col-sm-3">
            <div th:replace="common/head :: customersidebar" /> 
        </div>
        <div class="col-md-9 col-sm-9">
            <div class="col-md-12 border-grey">
                <h3 class="text-moredanger"><span th:text="${user.firstName}"></span>'s Wish List</h3>
                <p class="wishlist-sub-head">You have <span class="text-success"><strong> <span th:text="${itemCount}"></span> items</strong></span> in your wishlist. Add to cart before they are sold out.</p>
                <div class="col-md-12 wishlist-main-wrapper border-top-grey">
                
                <div th:if="${emptyList}">
	                <div class="col-md-12 border-btm-grey wishlist-container">
		                <div class="alert alert-danger">
		                <span>You don't have any product added to Wishlist so far</span>
		                </div>
	                </div>
                </div>
                <div  th:each="listItem : ${listItemList}">
<!--Wishlist row-->
                        <div class="col-md-12 border-btm-grey wishlist-container">
                            <div class="col-md-2 wishlist-image-container">
                                
                                <a th:href="@{/productDetail(id=${listItem.product.id})}"> <img
									class="img-responsive wishlist_thumbnail"
									th:src="#{adminPath}+@{/image/product/}+${listItem.product.id}+'/'+${listItem.product.coverImageName}" />
								</a>
                            </div>
                            <div class="col-md-7 wishlist-info-container">
                                <p class="wishlist-product-title">
                                    <a th:href="@{/productDetail?id=}+${listItem.product.id}"><span th:text="${listItem.product.title}"></span></a>
                                </p>
                                <p class="web-id">WEB ID 2997920</p>
                                <p class="item-color">Color: Natural</p>
                                <p class="item-size">Size: 7M</p>
                                <div class="star text-danger" style="display:none;">
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                    <span class="yes"><i class="fa fa-star"></i></span>
                                </div>
                                <h4 th:if="*{listItem.product.inStockNumber&gt;10}" style="color:green">In Stock</h4>
								<h4 th:if="*{listItem.product.inStockNumber&lt;10 and listItem.product.inStockNumber&gt;0}" style="color:green">Only <span th:text="${listItem.product.inStockNumber}"></span> In Stock</h4>
								<h4 th:if="*{listItem.product.inStockNumber==0}" style="color:darkred;">Unavailable</h4>
                               <p class="item-promotion text-moredanger">EXTRA 30% OFF USE: FRIEND</p>

                            </div>
                            <div class="col-md-3 wishlist-price-container">
                                <p class="wishlist-price">$<span th:text="${listItem.product.ourPrice}"></span></p>
                                <div class="col-md-12 add-to-cart text-center">
                                <form method="post" >
								<input hidden="hidden" th:id="'id-addingtocart-'+${listItem.product.id}" name="id" th:value="${listItem.product.id}"/>
								<input hidden="hidden" id="qty" name="qty" value="1"/>
	
								<a href="" th:id="'addingtocart-'+${listItem.product.id}" class="cart btn btn-danger"> <span class="glyphicon glyphicon-shopping-cart"></span> ADD TO CART</a>

								</form>
								<br/><br/>
								<span th:class="'id-addingtocart-'+${listItem.product.id}" id="addedtocart"></span>
                                  
                                </div>
                                <div class="col-md-12 text-center">
                                    <a th:href="@{/customer/removeListItem?id=}+${listItem.id}" class="wishlist-delete">Delete</a>
                                </div>
                            </div>

                        </div>
                        </div>

                </div>
                <div class="col-md-12">
                    <p class="security-button-bar">Note: For security, please do NOT email us your account number.</p>

                </div>

            </div>

        </div>
	<div class="clear"></div>
				

				<script th:src="@{/js/controller.js}"></script>

				<!-- end of container -->
				<div th:replace="common/head :: footer" />

				<div th:replace="common/head :: body-bottom-scripts" />
			</div>
		</div>

	</div>

</body>
</html>